<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../../lib/bootstrap-3.3.5.min.js"></script>


<link rel="icon" href="../../images/favicon.ico">

<link href="../../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />
<link href="../../styles/main.css" rel="stylesheet" type="text/css" />


<script type="text/javascript">

	/*Controller is implemented here to avoid the need for a separate js file being served along side this report template*/
    window.registerController('spendAnalysisReport', function($scope, applicationService, reportService){
		$scope.report = {id: reportService.getReportId()};
		$scope.showDialog = true;
		$scope.params = {
				reportId: $scope.report.id,
				run: true,
				contractId: null,
				expenditure: null,
				granularity: null
			};
		
		$scope.loadContracts = function(){
			loadContracts(applicationService, null, function(response) {
				var data = response.data;
				$scope.contracts = data;
			}, function(response){
				
			});
		}
		
		$scope.loadReport = function(){
			$scope.dataRetrieved = false;
			loadReports(applicationService, $scope.params, 
					function(response){
				if(response.data && response.data.length == 1)
					$scope.data = response.data[0].data;
				console.log(JSON.stringify($scope.data));
				$scope.dataRetrieved = true;
				}, 
				function(response){
					});
		}

		$scope.runReport = function(){
			$scope.loadReport();
			$scope.showDialog = false;
		}

		$scope.setOptions = function(){
			$scope.showDialog = true;
		}

		$scope.closeDialog = function(){
			$scope.showDialog = false;
		}

		$scope.loadContracts();
	});
</script>


		<div id="spendAnalysisReport" ng-controller="spendAnalysisReport" style="width: 100%; float: left;">
		
			<div ng-show="showDialog"
				style="margin-top: 10px; border: 1px solid #efefef; clear: both">
				<div>
					<!-- General Info -->
					<div id="general-section" style="overflow: auto;">
						<div style="background: #efefef" class="modal-header">
							<button type="button" class="close" ng-click="closeDialog()">&times;</button>
							<h4 class="modal-title">Run Parameters</h4>
						</div>
						<div style="clear: both;">
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Contract:</div>
								<div style="float: right; width: 90%;">
									<select class="form-control" ng-model="params.contractId">
										<option ng:repeat="item in contracts" value="{{item.id}}">{{item.title}}</option>
									</select>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Spend&nbsp;Type:</div>
								<div style="float: right; width: 90%;">
									<select class="form-control" id="enabled" name="enabled" ng-model="params.expenditure">
										<option>Support Expenditure</option>
									</select>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Granularity:</div>
								<div style="float: right; width: 90%;">
									<select class="form-control" id="enabled" name="enabled" ng-model="params.granularity">
										<option value="W">Week</option>
										<option value="M">Month</option>
										<option value="Y">Year</option>
										<option value="Q">Quarter</option>
									</select>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Aggregate&nbsp;By:</div>
								<div style="float: right; width: 90%;">
									<select class="form-control" id="enabled" name="enabled" ng-model="person.enabled">
										<option>Period, Spend Type</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div style="background: #efefef; margin: 0px;" class="modal-footer">
						<button ng-click="runReport()" type="button"
							class="btn btn-primary">Run</button>
						<button ng-click="closeDialog()" type="button"
							class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
			<div ng-hide="showDialog" style="width: 100%">
				<div style="display: table-cell; float: left;">
					<h3>
						Spend Analysis Report
					</h3>
				</div>
				<div style="display: table-cell; float: right;">
					<div class="table">
						<div>
							<div>
								<input class="form-control" ng-model="searchData" placeholder="Filter field data"/>
							</div>
							<div>
								<button ng-click="setOptions()" type="button" title="Run Options" class="btn btn-default glyphicon glyphicon-option-vertical"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-hide="showDialog" class="data-table" style="margin-top: 5px; clear: both; width: 100%">
				<table class="table table-hover panel-data" style="width: 100%;">
					<thead>
						<tr>
							<td>Period</td>
							<td> Spend Type</td>
							<td> Projected Spend</td>
							<td> Actual Spend</td>
							<td> Variance</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-hide="dataRetrieved">
							<td><img src="../images/loading-spinner.gif"/>Loading...</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr ng-show="dataRetrieved" ng-repeat="item in data | filter:searchData">
							<td>Year {{item.DatePoint}}</td>
							<td> {{item.Name}}</td>
							<td>{{item.Projected | currency:"&pound;"}}</td>
							<td>{{item.Actual | currency:"&pound;"}}</td>
							<td>{{(item.Projected - item.Actual) | currency:"&pound;"}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>