	.contract-tabs{
		margin: 20px;
	}
	
	.response-alert {
   		width: 50%;
   		margin: 0 auto;
   		padding: 0 10px 0 10px;
   		background: #ffff00;
   }
   
   	.response-alert-danger {
   		color: #ff0000;
   }
   
   	.response-alert-success {
   		color: #00cc00

   }
   
   
   
   
   
	.label {
		width: 70px;
	}
	
	.data-table {
		display: table;
	}
	
	.data-row {
		display: table-row;
	}
	
	.data-cell {
		display: table-cell;
		padding: 0px;
	}
	
	.data-header-row {
		background: #ffddee;
	}
	
	.no-radius {
		border-radius: 0 !important;
	}
	
	.details-table {
		
	}
	
	.value-cell{
		text-align: right;
	}
	
	.summary-table thead > tr > td:nth-child(1){
		width: 20%;
	}
	.summary-table thead > tr > td:nth-child(3){
		width: 5%;
	}

	.note-detail {
		background: #abd0fe;
		padding-left: 7px;
		padding-right: 7px;
		padding-bottom: 5px;
	}