#desc-content ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#nav{
	background-color: #0080c0;
	padding: 10px;
	overflow: auto;
}

.title {
	background-color: #0080c0;
	color: #ffffff;
	padding: 4px;
	overflow: auto;
}

#toolbar button {
  border-radius: 0 !important;
  background: #EEEEEE;
}

#left-menu .glyphicon {
    font-size: 24px;
}

#panel {
	padding: 10px;
}

.panel-margin {
	 margin: 10px 1% 10px 5px;
}

.panel-data thead > tr {
	background: #DEEEFF;
	font-weight: bold;
}

.panel-data tbody > tr {
	font-size: small;
}

.expiring {
	background: #ff8000;
}

.expired {
	color: #ff0000;
}

.archived {
	background: #fefca0;
}

.important {
    color: red;
}

.activity-user {
	color: blue;
}

.activity-value{
	color: #ff0000;
}

.activity-value-link{
	text-decoration: underline;
}