body {
  /*padding: 40px;*/
  width: 100%;
  margin: 0;
  background-color: #eeeeee;
}

#body {
	background: #ffffff;
	width: 100%;
}

#toolbar .btn {
  border-radius: 0 !important;
}

#toolbar {
	padding: 10px 10px 0 10px;
}

.footer{
	clear: both; 
	border-top: 1px solid #cbcbcb; 
	text-align: center;
	padding: 20px;
	font-size: small;
}

span.open-item:hover{
	color: #0080c0;
	cursor: hand;
	cursor: pointer;
}

#main-frame {
	padding: 0px;
	margin: 0px;
	background: #ffffff;
}

.header-logo{
	float: left; display : flex; align-items : center; height: 100px;
}

.header-search{
	float: left; display : flex; align-items : center; height: 100px;
}

.user-profile{
	float: right;
	display : flex;
	align-items : center;  height: 100px; padding: 10px;
}

.left-menu {
	float: left; width: 250px;
}

.left-menu .glyphicon {
	font-size: 24px;
}

.content-body{
	 margin: 2px; overflow:hidden; width:auto;
}

div.hcentre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.vcenter
{
	display : flex;
	align-items : center
}

div.table {
	display: table;
}

div.table > div {
	display: table-row;
}

div.table > div > div {
	display: table-cell;
}

/*Data table*/
.data-table tbody tr {
	cursor: pointer;
	cursor: hand;
}
.data-table-header thead tr td {
	font-weight: bold;
}
.data-table-row-select {
	background-color: #ebebeb;
	border-left: 3px solid #990099;
}

/*Navigation bar*/
@media (min-width: 768px) {
	.navbar-collapse {
	  height: auto;
	  border-top: 0;
	  box-shadow: none;
	  max-height: none;
	  padding-left:0;
	  padding-right:0;
	}
	.navbar-collapse.collapse {
	  display: block !important;
	  width: auto !important;
	  padding-bottom: 0;
	  overflow: visible !important;
	}
	.navbar-collapse.in {
	  overflow-x: visible;
	}

	.navbar
	{
		max-width:300px;
		margin-right: 0;
		margin-left: 0;
	}	
	
	.navbar li * {
		padding: 5px;
		vertical-align: middle;
	}
	
	.navbar-nav, .navbar-nav > li, .navbar-left, .navbar-right, .navbar-header{
		float:none !important;
	}
	
	.navbar-right .dropdown-menu {
		left:0;
		right:auto;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
	    margin-right: 0;
	}
}

div.admin-page-title {
	float: left;
	width: 10px;
}
div.admin-page-title > div > div{
	vertical-align: middle;
}
div.admin-page-title .glyphicon {
	font-size: 48px;
	color: #0080c0;
}
div.admin-page-title > div > div > h3 {
	font-weight: bold;
}

.ui-datepicker .ui-datepicker-prev {
	background: url("../images/prev-arrow-16.png") no-repeat scroll 3px center transparent;
}

.ui-datepicker .ui-datepicker-next {
	background: url("../images/next-arrow-16.png") no-repeat scroll 3px center transparent;
}


.error-input {
	border-color:#ff0000;
}