#content {
	background: #ffffff;
	padding: 40px;
}

.form-signin {
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control,button {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
form.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.signin {
	float: right; width: 45%; border-radius: 5px; background-color: #b4e4ec; padding: 40px
}

.signin-control {
	width: 100%;
}

#desc-content ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#desc-content > ul > li:nth-child(1) {
    background: url(../images/sign_contract_file-48.png) left top no-repeat;
    padding-left: 60px;
}

#desc-content > ul > li:nth-child(2) {
    background: url(../images/performance-48.png) left top no-repeat;
    padding-left: 60px;
}
#desc-content > ul > li:nth-child(3) {
    background: url(../images/report_cover-48.jpg) left top no-repeat;
    padding-left: 60px;
}

#desc-content > ul > li > ul > li {
    background: url(../images/tickimg24.png) left top no-repeat;
    padding-left: 45px;
}

.header {
	background-color: #0080c0;
	padding: 5px;
	overflow: hidden;
}

#header {
	height: 120px;
}
#header > div {
	height: 120px;
}

.header > div {
	height: 50px;
}
.verticalLine {
    border-left: 1px solid #cccccc;
    overflow: auto;
    margin-left: 70px;
}

.footer{
	clear: both; 
	border-top: 1px solid #cccccc; 
	text-align: center;
	padding: 20px;
	font-size: small;
}

div.signup {
	float: right; 
	color: #ffffff
}

div.hcentre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.vcenter
{
	display : flex;
	align-items : center
}