@CHARSET "ISO-8859-1";
.tabs {
	border-collapse: collapse;
	width: 100%;
}

.tabs tr td:last-child {
	border-bottom: 1px solid #cccccc;
}
/*IE8 doesn't support :last-child'*/
.tab-last {
	border-bottom: 1px solid #cccccc;
}

.tab {
	cursor: pointer;
	border: 1px solid #cccccc;
	background: #ededff;
	padding: 10px;
	width: 120px;
}

.tab-current {
	border-top: 2px solid #0000ff;
	border-bottom: 1px solid #ffffff;
	background: #ffffff;
}

.tab-icon {
	padding-right: 10px;
}

.tab-content {
	display: none;
	background: #ffffff;
}

.tab-content.current {
	display: block;
}