
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<style>
	.admin-page-title .glyphicon {
		color: #4C7A34;
	}
	
	.btnStyle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #208fd4 2px;
  text-decoration: none;
}

.btnStyle:hover {
  background: #3cb0fd;
  text-decoration: none;
}
	
	
</style>

<script src="../js/util.js"></script>

	<div id="body" ng-controller="userListController">
		<!-- Common main application header -->
		<div ng-include = "'views/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'admin'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">


	
				<!-- Person List Toolbar -->
				<div id="toolbar" style="padding: 10px; clear: both">
					<button ng-click="go('/admin')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						Back
					</button>
					
					<div class="btn-group" style="margin-right: 10px;">
						<button ng-click="newUser()" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							New
						</button>
						<button ng-click="editUser()" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							Edit
						</button>
					</div>
		
					<button ng-click="deleteUser()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						Delete
					</button>
					
					<div class="btn-group" style="margin-right: 10px;">
						<button ng-click="go('/role')" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							Roles
						</button>
					</div>
					
					<button ng-click="refreshList()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						Refresh
					</button>
		
				</div>
				
				<!-- Alerts -->
				<div style="margin: 10px;" class="alert alert-dismissible" role="alert" ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																			'alert-success' : alert.type == AlertType.OK, 
																			'alert-danger' : alert.type == AlertType.ERROR, 
																			'alert-info' : alert.type == AlertType.INFO}" ng-show="alert.body">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <span role="type"><strong>{{alert.type}}!</strong></span>
				  <span role="body">{{alert.body}}</span>
				</div>
				<div><div ng-show="showConfirm" ng-include="'views/confirm.html'"></div></div>
				
				<div style="clear: both; padding: 10px;" class="table-responsive">
					<div style="width: 100%" class="table admin-page-title">
						<div>
							<div style="width: 1%"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
							<div style="text-align: left"><h3 style="vertical-align:middle;">&nbsp;User&nbsp;List</h3></div>
							<div style="float: right"><input class="form-control" ng-model="searchUser" placeholder="Filter field data"/></div>
							<div style="display: table-cell; padding: 5px ; float:right">
						                         <button class="btnStyle" ng-disabled="currentUserPage <= 0" ng-click="currentUserPage=currentUserPage-1">
						                           Prev
						                         </button>
						                         {{currentUserPage+1}}/{{numberOfPages()}}
						                     <button  class="btnStyle" ng-disabled="users.length == 0 || currentUserPage >= users.length/pageUserSize - 1" ng-click="currentUserPage=currentUserPage+1">
						                             Next
						                       </button>
						</div>
							
						</div>
					</div>
	
					<table id="userTable" class="table table-hover panel-data data-table data-table-header">
			
						<thead>
							<tr>
								<td align="center"><input id="selectAll" type="checkbox" /></td>
								<td><a href="#/user" ng-click="sortField = 'login'">Email <span ng-show="sortField == 'login'" class="glyphicon glyphicon-menu-down"></span></a></td>
								<td><a href="#/user" ng-click="sortField = 'personName'">Name <span ng-show="sortField == 'personName'" class="glyphicon glyphicon-menu-down"></span></a></td>
								<td><a href="#/user" ng-click="sortField = 'role.value'">Role <span ng-show="sortField == 'role.value'" class="glyphicon glyphicon-menu-down"></span></a></td>
								<td>Last Login</td>
								<td align="center">Active</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-hide="usersLoaded">
								<td>Loading...</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr ng-show="usersLoaded"  ng-class="{'data-table-row-select' : user.id === item.id}" ng-repeat="item in users | filter:searchUser | orderBy:['login'] | startFrom:currentUserPage*pageUserSize | limitTo:pageUserSize" ng-click="setSelected(item.id)">
								<td align="center"><input id="{{item.id}}" ng-checked="user.id === item.id" type="checkbox"/></td>
								<td>{{ item.login }}</td>
								<td>{{ item.personName }}</td>
								<td>{{ item.role.value }}</td>
								<td>{{ item.profile.lastlogin | date:'dd/MM/yyyy HH:mm:ss' }}</td>
								<td align="center"><input name="enabled" type="checkbox" ng-disabled="true" ng-checked="item.active === true" /></td>
							</tr>
						</tbody>
			
					</table>
				</div>
			</div>
		</div>
	</div>
<div ng-include = "'views/main-app-footer.html'"></div>
