
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<script src="../js/table.js"></script>

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

	<div id="body" ng-controller="documentGroupController">
		<!-- Common main application header -->
		<div ng-include = "'views/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'admin'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">

				<div id="toolbar" style="padding: 10px; clear: both">
					<button ng-click="go('/admin')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						Back
					</button>
		
				</div>
	
				<div style="clear: both; padding: 10px;" class="table-responsive">
							<div style="float: left;">
					<h3>Document Groups</h3>
				</div>
					<table id="etable" class="table table-hover panel-data data-table data-table-header">
			
						<thead>
							<tr>
								<td><input id="selectAll" type="checkbox" /></td>
								<td>Name</td>
								<td>Description</td>
								<td>Active</td>
							</tr>
						</thead>
			
						<tbody>
							<tr ng-repeat="group in documentgroups | filter:searchPerson">
								<td align="center"><input name="id" id="{{ type.id }}"
									type="checkbox" ng-model="selected[$index]" /></td>
								<td>{{ group.name }}</td>
								<td>{{ group.description }}</td>
								<td><input name="enabled" id="{{ person.id }}" type="checkbox"
									ng-checked="group.active == 'true'" /></td>
							</tr>
						</tbody>
			
					</table>
				</div>
			</div>
		</div>
	</div>
<div ng-include = "'views/main-app-footer.html'"></div>
