
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<script src="../js/util.js"></script>

	<div id="body" ng-controller="userRoleController">
		<!-- Common main application header -->
		<div ng-include = "'views/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'admin'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
						
				<!-- Status List Toolbar -->
				<div id="toolbar" style="padding: 10px; clear: both">
					<button ng-click="go('/user')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						Back
					</button>
					
					<div class="btn-group" style="margin-right: 10px;">
						<button ng-click="newUserRole()" type="button" class="btn btn-default" data-toggle="modal">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							New
						</button>
						<button ng-click="editUserRole()" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							Edit
						</button>
					</div>
		
					<button ng-click="deleteUserRole()" type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						Delete
					</button>				
					
					<button ng-click="refreshList()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						Refresh
					</button>	
				</div>
	
				<!-- Alerts -->
				<div style="margin: 10px;" class="alert alert-dismissible" role="alert" ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																			'alert-success' : alert.type == AlertType.OK, 
																			'alert-danger' : alert.type == AlertType.ERROR, 
																			'alert-info' : alert.type == AlertType.INFO}" ng-show="alert.body">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <span role="type"><strong>{{alert.type}}!</strong></span>
				  <span role="body">{{alert.body}}</span>
				</div>
	
				<div ng-show="dialog.show" style="margin: 10px; border: 1px solid #efefef; clear: both">
		            <div>
						<!-- General Info -->
						<div id="general-section" style="overflow: auto;">
					        <div style="background: #efefef" class="modal-header">
					          <button type="button" class="close" ng-click="closeDialog()">&times;</button>
					          <h4 class="modal-title">{{ action }} User Role</h4>
					        </div>
							<div role="header">
				              <div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
								   style="float: left; width: 20%; border: 0; box-shadow: none;">Name</div>
								<div style="float: right; width: 80%;">
									<input class="form-control" id="name" name="name" ng-model="userRole.name"/>
								</div>
						      </div>
				          
				              <div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
								   style="float: left; width: 20%; border: 0; box-shadow: none;">Description</div>
								<div style="float: right; width: 80%;">
									<textarea class="form-control" rows="3" id="comment" ng-model="userRole.description"></textarea>
								</div>
						      </div>

								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 20%; border: 0; box-shadow: none;">&nbsp;</div>
									<div style="float: right; width: 80%;" class="checkbox">
										<label> <input type="checkbox" ng-model="userRole.active"/>
											Active
										</label>
									</div>
								</div>
								<!-- Contact Info -->
								<div id="contact-section" style="overflow: auto;">
									<div id="contactHeader">
										<div style="float: left;">
											<h2>Permissions</h2>
										</div>
									</div>
				
									<div style="clear: both; margin: 5px; overflow: auto;">
										<table class="table table-hover panel-data" style="width: 100%;">
											<thead>
												<tr>
													<td>Module</td>
													<td>Read</td>
													<td>Write</td>
													<td>Delete</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="permission in userRole.permission">
													<td>{{ permission.module.value }}</td>
													<td><input type="checkbox" ng-model="permission.read"/></td>
													<td><input type="checkbox" ng-model="permission.write"/></td>
													<td><input type="checkbox" ng-model="permission.delete"/></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
						</div>
					</div>
				       <div style="background: #efefef; margin: 0px;" class="modal-footer">				          
						  <button ng-click="saveUserRole()" type="button" class="btn btn-primary">Save</button>        
				          <button ng-click="closeDialog()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				        </div>
					</div>
				</div>
	
				<div style="clear: both; padding: 10px;" class="table-responsive">
					<div class="table admin-page-title">
						<div>
							<div><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></div>
							<div><h3 style="vertical-align:middle;">User&nbsp;Role&nbsp;List</h3></div>
						</div>
					</div>
					<div>
					<table id="etable" class="table table-hover panel-data data-table data-table-header">
						<thead>
							<tr>
								<td align="center"><input id="selectAll" type="checkbox" /></td>
								<td>Name</td>
								<td>Description</td>
								<td>Active</td>
							</tr>
						</thead>
			
						<tbody>
							<tr ng-hide="userRolesLoaded">
								<td>Loading...</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr ng-show="userRolesLoaded" ng-class="{'data-table-row-select' : userRole.id === item.id}" ng-repeat="item in userRoles | filter:searchRoles" ng-click="setSelected(item)">
								<td align="center"><input id="{{item.id}}" ng-checked="userRole.id === item.id" type="checkbox"/></td>
								<td>{{ item.name }}</td>
								<td>{{ item.description }}</td>
								<td align="center"><input name="enabled" id="{{ userRole.id }}" type="checkbox"
									ng-checked="userRole.active == 'true'" /></td>
							</tr>
						</tbody>
			
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include = "'views/main-app-footer.html'"></div>
