
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>
<script src="../js/table.js"></script>


<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet"
	type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<style>
.admin-page-title .glyphicon {
	color: #004af3;
}

.btnStyle {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 11px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border: solid #208fd4 2px;
	text-decoration: none;
}

.btnStyle:hover {
	background: #3cb0fd;
	text-decoration: none;
}
</style>

<script src="../js/util.js"></script>

<div id="body" ng-controller="contractReferenceFormatController">
	<!-- Common main application header -->
	<div ng-include="'views/main-app-header.html'"></div>
	<!-- Content -->
	<div id="content" style="clear: both; overflow: auto;">
		<!-- Left menu -->
		<div ng-include="'views/main-left-menu.html'"
			onload="menulink = 'admin'"></div>

		<!-- Dashboard -->
		<div id="dashboard"
			style="margin: 2px; overflow: hidden; width: auto;">

			<!-- Toolbar -->
			<div id="toolbar" style="clear: both">
				<button ng-click="go('/admin')" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					Back
				</button>

				<div class="btn-group" style="margin-right: 10px;">
					<button ng-click="newContractReferenceFormat()" type="button"
						class="btn btn-default" data-toggle="modal"
						data-target="#contractReferenceFormatDialog">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						New
					</button>
					<button ng-click="editContractReferenceFormat()" type="button"
						class="btn btn-default" data-toggle="modal"
						data-target="#contractReferenceFormatDialog">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						Edit
					</button>
				</div>

				<button ng-click="deleteContractReferenceFormat()" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
					Delete
				</button>

				<button ng-click="refreshList()" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					Refresh
				</button>

			</div>
			<!-- Alerts -->
			<div class="alert alert-dismissible" role="alert"
				ng-class="{'alert-warning' : alert.type == AlertType.WARNING,
                                                                                  'alert-success' : alert.type == AlertType.OK,
                                                                                  'alert-danger' : alert.type == AlertType.ERROR,
                                                                                  'alert-info' : alert.type == AlertType.INFO}"
				ng-show="alert.body">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close" ng-click="closeDialog()">
					<span aria-hidden="true">&times;</span>
				</button>
				<span role="type"><strong>{{alert.type}}!</strong></span> <span
					role="body">{{alert.body}}</span>
			</div>
			<div>
				<div ng-show="showConfirm" ng-include="'views/confirm.html'"></div>
			</div>
			<div ng-show="dialog.show"
				style="margin: 10px; border: 1px solid #efefef; clear: both">
				<!-- General Info -->
				<div id="general-section" style="overflow: auto;">
					<form role="form" name="contractReferenceFormatForm" novalidate>
						<div style="background: #efefef" class="modal-header">
							<button type="button" class="close" ng-click="closeDialog()">&times;</button>
							<h4 class="modal-title">{{ action }} Contract Reference
								Format</h4>
						</div>
						<div role="header">
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Format*</div>
								<div style="float: right; width: 90%;"
									ng-class="{ 'has-error' : (contractReferenceFormatForm.contract_format.$dirty || contractReferenceFormatFormsubmitted) && contractReferenceFormatForm.contract_format.$error.required }">
									<input class="form-control" id="format" format="contract_format"
										ng-model="contractReferenceFormat.format" required>
									<p
										ng-show="(contractReferenceFormatForm.contract_format.$dirty || contractReferenceFormatFormsubmitted) && contractReferenceFormatForm.contract_format.$error.required"
										class="help-block">Format is required.</p>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Name*</div>
								<div style="float: right; width: 90%;"
									ng-class="{ 'has-error' : (contractReferenceFormatForm.contract_name.$dirty || contractReferenceFormatFormsubmitted) && contractReferenceFormatForm.contract_name.$error.required }">
									<input class="form-control" id="name" name="contract_name"
										ng-model="contractReferenceFormat.name" required>
									<p
										ng-show="(contractReferenceFormatForm.contract_name.$dirty || contractReferenceFormatFormsubmitted) && contractReferenceFormatForm.contract_name.$error.required"
										class="help-block">Name is required.</p>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Description</div>
								<div style="float: right; width: 90%;">
									<textarea class="form-control" rows="3" id="comment"
										ng-model="contractReferenceFormat.description"></textarea>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Contract Type*:</div>
								<div class="form-group" style="float: right; width: 90%;"
									ng-class="{ 'has-error' : (userForm.type.$dirty || userFormSubmitted) && userForm.type.$error.required }">
									<select class="form-control" id="gender" name="type"
										ng-model="contractReferenceFormat.contractType.id"
										ng-init="type = contractTypes[0].id">
										<option value="{{null}}">Please select type</option>
										<option ng:repeat="type in contractTypes" value="{{type.id}}">{{type.name}}</option>
									</select>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">&nbsp;</div>
								<div style="float: right; width: 90%;" class="checkbox">
									<label> <input type="checkbox" name="contractActive"
										ng-model="contractReferenceFormat.active" required>
										Active*
									</label>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">&nbsp;</div>
								<div style="float: right; width: 90%;" class="checkbox">
									<label> <input type="checkbox" name="contractDefault"
										ng-model="contractReferenceFormat.difault" required>
										Default*
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div style="background: #efefef; margin: 0px;" class="modal-footer">
					<button ng-click="saveContractReferenceFormat()" type="button"
						class="btn btn-primary">Save</button>
					<button ng-click="closeDialog()" type="button"
						class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>

			<div style="clear: both; padding: 10px;" class="table-responsive">
				<div style="width: 100%" class="table admin-page-title">
					<div>
						<div>
							<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
						</div>
						<div>
							<h3 style="vertical-align: middle;">&nbsp;Contract&nbsp;Reference&nbsp;Format&nbsp;List</h3>
						</div>
						<div style="float: right">
							<input class="form-control" ng-model="searchContractList"
								placeholder="Filter field data">
						</div>
						<div style="display: table-cell; padding: 5px; float: right">
							<button class="btnStyle"
								ng-disabled="currentContractListPage <= 0"
								ng-click="currentContractListPage=currentContractListPage-1">
								Prev</button>
							{{currentContractListPage+1}}/{{numberOfPages()}}
							<button class="btnStyle"
								ng-disabled="contractReferenceFormats.length == 0 || currentContractListPage >= contractReferenceFormats.length/pageContractsSize - 1"
								ng-click="currentContractListPage=currentContractListPage+1">
								Next</button>
						</div>
					</div>
				</div>
				<table
					class="table table-hover panel-data data-table data-table-header">

					<thead>
						<tr>
							<td width="1%" align="center"><input id="selectAll"
								type="checkbox" /></td>
							<td>Format</td>
							<td>Name</td>
							<td>Description</td>
							<td>Contract Type</td>
							<td align="center">Default</td>
							<td align="center">Active</td>
						</tr>
					</thead>

					<tbody>
						<tr ng-hide="contractReferenceFormatsLoaded">
							<td>Loading...</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr ng-show="contractReferenceFormatsLoaded"
							ng-class="{'data-table-row-select' : contractReferenceFormat.id === item.id}"
							ng-repeat="item in contractReferenceFormats | filter:searchContractList | orderBy:['name'] | startFrom:currentContractListPage*pageContractsSize | limitTo:pageContractsSize"
							ng-click="setSelected(item)">
							<td align="center"><input id="{{item.id}}"
								ng-checked="contractReferenceFormat.id === item.id"
								type="checkbox" /></td>
							<td>{{ item.format }}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.description }}</td>
							<td>{{ item.contractType.value }}</td>
							<td align="center"><input type="checkbox"
								ng-model="item.difault" /></td>
							<td align="center"><input type="checkbox"
								ng-model="item.active" /></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/main-app-footer.html'"></div>
