
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>
<script src="../js/table.js"></script>


<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />



<script src="../js/util.js"></script>

	<div id="body" ng-controller="documentTypeController">
		<!-- Common main application header -->
		<div ng-include = "'views/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'admin'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
				
				<!-- Toolbar -->
				<div id="toolbar" style="padding: 10px; clear: both">
					<button ng-click="go('/admin')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						Back
					</button>
					
					<div class="btn-group" style="margin-right: 10px;">
						<button ng-click="newDocumentType()" type="button" class="btn btn-default" data-toggle="modal" data-target="#documentTypeDialog">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							New
						</button>
						<button ng-click="editDocumentType()" type="button" class="btn btn-default" data-toggle="modal" data-target="#documentTypeDialog">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							Edit
						</button>
					</div>
		
					<button ng-click="deleteDocumentType()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						Delete
					</button>
							
					<button ng-click="refreshList()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						Refresh
					</button>
		
				</div>
					
                     <!-- Alerts -->
                     <div class="alert alert-dismissible" role="alert" ng-class="{'alert-warning' : alert.type == AlertType.WARNING,
                                                                                  'alert-success' : alert.type == AlertType.OK,
                                                                                  'alert-danger' : alert.type == AlertType.ERROR,
                                                                                  'alert-info' : alert.type == AlertType.INFO}" ng-show="alert.body">
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeDialog()">
                       	<span aria-hidden="true">&times;</span>
                       </button>
                       <span role="type"><strong>{{alert.type}}!</strong></span>
                       <span role="body">{{alert.body}}</span>
                     </div>
                     <div><div ng-show="showConfirm" ng-include="'views/confirm.html'"></div></div>
					<div ng-show="dialog.show" style="margin: 10px; border: 1px solid #efefef; clear: both">
						<!-- General Info -->
						<div id="general-section" style="overflow: auto;">
						<form role="form" name="documentTypeForm" novalidate>
					        <div style="background: #efefef" class="modal-header">
					          <button type="button" class="close" ng-click="closeDialog()">&times;</button>
					          <h4 class="modal-title">{{ action }} Contract Type</h4>
					        </div>
							<div role="header">
				              <div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
								   style="float: left; width: 20%; border: 0; box-shadow: none;">Name*</div>
								<div style="float: right; width: 80%;" ng-class="{ 'has-error' : (documentTypeForm.code.$dirty || documentTypeFormSubmitted) && documentTypeForm.code.$error.required}">
									<input class="form-control" id="code" name="code" ng-model="documentType.name" required/>
									<p ng-show="(documentTypeForm.code.$dirty || documentTypeFormSubmitted) && documentTypeForm.code.$error.required " class="help-block">Name is required.</p>
								</div>
						      </div>
				          
				              <div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
								   style="float: left; width: 20%; border: 0; box-shadow: none;">Description*</div>
								<div style="float: right; width: 80%;" ng-class="{ 'has-error' : (documentTypeForm.documentDescription.$dirty || documentTypeFormSubmitted) && documentTypeForm.documentDescription.$error.required}">
									<textarea class="form-control" rows="3" id="description" name="documentDescription" ng-model="documentType.description" required></textarea>
									<p ng-show="(documentTypeForm.documentDescription.$dirty || documentTypeFormSubmitted) && documentTypeForm.documentDescription.$error.required" class="help-block">Description is required.</p>
								</div>
						      </div>
						      
								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 20%; border: 0; box-shadow: none;">&nbsp;</div>
									<div style="width: 80%;" class="checkbox">
										<label> <input type="checkbox" ng-model="documentType.active"/>
											Active
										</label>
									</div>
								</div>
						</div>
						</form>
					</div>
			       <div style="background: #efefef; margin: 0px;" class="modal-footer">				          
					  <button ng-click="saveDocumentType()" type="button" class="btn btn-primary">Save</button>        
			          <button ng-click="closeDialog()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        </div>
				</div>
	
	
	
	
	
	
				<div style="clear: both; padding: 10px;" class="table-responsive">
					<div style="width:100%" class="table admin-page-title">
						<div>
							<div><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></div>
							<div><h3 style="vertical-align:middle;">&nbsp;Document&nbsp;Type&nbsp;List</h3></div>
							<div style="float: right"><input class="form-control" ng-model="searchDocumentType" placeholder="Filter field data"/></div>
						<div style="display: table-cell; padding: 5px ; float:right">
						                         <button class="btnStyle" ng-disabled="currentDocumentListPage <= 0" ng-click="currentDocumentListPage=currentDocumentListPage-1">
						                           Prev
						                         </button>
						                         {{currentDocumentListPage+1}}/{{numberOfPages()}}
						                     <button  class="btnStyle" ng-disabled="documentTypes.length == 0 || currentDocumentListPage >= documentTypes.length/pageDocumentsSize - 1" ng-click="currentDocumentListPage=currentDocumentListPage+1">
						                             Next
						                       </button>
						</div>
						</div>
					</div>
					<table class="table table-hover panel-data data-table data-table-header">
			
						<thead>
							<tr>
								<td align="center"><input id="selectAll" type="checkbox" /></td>
								<td>Name</td>
								<td>Description</td>
								<td align="center">Active</td>
							</tr>
						</thead>
			
						<tbody>
							<tr ng-hide="documentTypesLoaded">
								<td>Loading...</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							
							<tr ng-show="documentTypesLoaded" ng-class="{'data-table-row-select' : documentType.id === item.id}" ng-repeat="item in documentTypes | filter:searchDocumentType | orderBy:['name'] | startFrom:currentDocumentListPage*pageDocumentsSize | limitTo:pageDocumentsSize" ng-click="setSelected(item)">
								<td align="center"><input id="{{item.id}}" ng-checked="documentType.id === item.id" type="checkbox"/></td>
								<td>{{ item.name }}</td>
								<td>{{ item.description }}</td>
								<td align="center"><input name="enabled" type="checkbox"
									ng-model="item.active" /></td>
							</tr>
						</tbody>
			
					</table>
				</div>
			</div>
		</div>
	</div>
<div ng-include = "'views/main-app-footer.html'"></div>
