<meta charset="ISO-8859-1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css">

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<!-- JQuery Auto Complete -->
<link rel="stylesheet" type="text/css" href="../styles/autocomplete.css">
<script type="text/javascript" src="../lib/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="../js/autocomplete.js"></script>
<!-- //JQuery Auto Complete -->

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />
	
<div id="body" ng-controller="userAddEditController">
		<!-- Common main application header -->
		<div ng-include = "'views/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'admin'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
			
		<!-- Toolbar -->
		<div id="toolbar" style="padding: 10px;">
			<button ng-click="userList()" type="button" class="btn btn-default"
				style="margin-right: 10px;">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
				User List
			</button>

			<div class="btn-group" style="margin-right: 10px;">
				<button ng-click="newUser()" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					Add New
				</button>

				<button ng-click="saveUser()" type="button" class="btn btn-default" id="btnSave">
					<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
					Save Changes
				</button>
			</div>
		</div>
		
		
				<!-- Panels -->
		<div style="clear: both;">
	
		
			<div class="contract-tabs">
			    <ul class="nav nav-tabs">
			        <li class="active"><a data-toggle="tab" ng-click="loadHeader()" href="#generalTab" onclick="return false;">General</a></li>
			        <li><a data-toggle="tab" ng-click="activeTab='Audit';loadAudit()" href="#auditTab" onclick="return false;">Audit</a></li>
			        
			    </ul>
			    <div class="tab-content">
			    	<!-- General Tab -->
			        <div id="generalTab" class="tab-pane fade in active">
						<!-- Form -->
						
						<div id="person-form" style="overflow: auto; padding: 10px;">
							<form role="form" name="useraddForm" id="person" novalidate>
							
								<!-- Alerts -->
								<div class="alert alert-dismissible" role="alert" ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																							'alert-success' : alert.type == AlertType.OK, 
																							'alert-danger' : alert.type == AlertType.ERROR, 
																							'alert-info' : alert.type == AlertType.INFO}" ng-show="alert.body">
								  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								  <span role="type"><strong>{{alert.type}}!</strong></span>
								  <span role="body">{{alert.body}}</span>
								</div>
								
								<!-- General Info -->
								<div id="general-section" style="overflow: auto;">
									<h3>General Person Info</h3>
				
									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Person*</div>
										<div style="float: right; width: 90%;" ng-class="{ 'has-error' : (useraddForm.personName.$dirty || userAddFormsubmitted ) && useraddForm.personName.$error.required }">
											<input type=text class="form-control" name="personName" id="personName" placeholder="Type to search" ng-model="user.personName" required/>
											<input id="personId" type="hidden" ng-model="user.personId" />
											<p ng-show="(useraddForm.personName.$dirty || userAddFormsubmitted ) && useraddForm.personName.$error.required" class="help-block">Person is required.</p>
										</div>
									</div>
				
									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Email*</div>
										<div style="float: right; width: 90%;" ng-class="{ 'has-error' : (useraddForm.userLogin.$dirty || userAddFormsubmitted ) && useraddForm.userLogin.$error.required }">
											<input type=email class="form-control" id="userLogin" name="userLogin" ng-model="user.login" required/>
											<p ng-show="(useraddForm.userLogin.$dirty || userAddFormsubmitted ) && useraddForm.userLogin.$error.required" class="help-block">Email is required.</p>
										</div>
										<div style="float: right; width: 90%; overflow: auto; max-height:150px">
											<table class="table table-hover panel-data" style="width: 100%;  table-layout: fixed;">
												<tbody>
													<tr ng-repeat="item in contacts" ng-if="item.type.value == 'Email'">
														<td width="1px"><input type="checkbox"
														ng-class="{'data-table-row-select' : contact.id!=null && contact.id === item.id}"
														ng-checked="contact.id!=null && contact.id === item.id"
														ng-click="setSelectedContact(item)" /></td>
														<td>{{ item.address.value }}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									
						              <div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
										   style="float: left; width: 10%; border: 0; box-shadow: none;">Role*</div>
											<div style="float: right; width: 90%;" ng-class="{ 'has-error' : (useraddForm.user_role.$dirty || userAddFormsubmitted ) && useraddForm.user_role.$error.required }">
												<select class="form-control" name="user_role" ng-options="role as role.name for role in userRoles track by role.id" ng-init="type = userRoles[0].id" ng-model="user.role" required>
												<option value="">Please select role</option>
												</select>
												<p ng-show="(useraddForm.user_role.$dirty || userAddFormsubmitted ) && useraddForm.user_role.$error.required" class="help-block">Role is required.</p>
											</div>
								      </div>
								      
									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">&nbsp;</div>
										<div class="checkbox" ng-class="{ 'has-error' : (buttonClicked || userAddFormsubmitted ) && useraddForm.userActive.$error.required }">
											<label> <input type="checkbox"  ng-model="user.active" name="userActive" value="true" required/>
												Active*
											</label>
										</div>
									</div>
									
								</div>
				
								<!-- Contact Info -->
								<div id="contact-section" style="overflow: auto;">
									<div id="contactHeader">
										<div style="float: left;">
											<h3>Authentication</h3>
										</div>
									</div>
				
									<div style="clear: both; margin: 5px; overflow: auto;">
										A random password will be autogenerated and sent to the user
									</div>
								</div>
								
								<!-- Contact Info -->
								<div id="contact-section" style="overflow: auto;">
									<div id="contactHeader">
										<div style="float: left;">
											<h3>Permissions</h3>
										</div>
									</div>
				
									<div style="clear: both; margin: 5px; overflow: auto;">
										<table class="table table-hover panel-data" style="width: 100%;">
											<thead>
												<tr>
													<td>Module</td>
													<td>Read</td>
													<td>Write</td>
													<td>Delete</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="permission in user.role.permission">
													<td>{{ permission.module.value }}</td>
													<td><input type="checkbox" ng-model="permission.read"/></td>
													<td><input type="checkbox" ng-model="permission.write"/></td>
													<td><input type="checkbox" ng-model="permission.delete"/></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
							</form>
						</div>
			        </div>
			        <!-- Audit Tab -->
			        <div id="auditTab" class="tab-pane fade">
			        	<div ng-show="activeTab=='Audit'"><div ng-include="'views/audit.html'" ng-init="userId=user.id"></div></div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
</div>
	<div ng-include = "'views/main-app-footer.html'"></div>