
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet"
	type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<script src="../js/util.js"></script>

<style>
	div.confirm-title {
		background: #efefef;
	}
	div.confirm-footer {
		background: #efefef;
		text-align: center;
	}
	div.confirm-message > div > div:nth-child(1) {
		width: 1px;
		padding: 0px 10px 0px 10px;
	}	
	div.confirm-message > div > div:nth-child(1) .glyphicon {
		font-size: 24px;
	}
	
	div.confirm-message{
		background: #ffffff;
		vertical-align: middle;
	}
	
	div.confirm-message > div > div{
		vertical-align: middle;
	}
</style>

<div ng-controller="confirmController">
	<div ng-show="showConfirm"
		style="margin: 10px; border: 1px solid #efefef; clear: both">
		<!-- General Info -->
		<div id="general-section" style="overflow: auto; background: #ffffff">
			<div class="modal-header confirm-title">
				<button type="button" class="close" ng-click="closeDialog()">&times;</button>
				<h4 class="modal-title">{{ properties.title }}</h4>
			</div>
			<div class="table confirm-message">
				<div style="margin: 5px; overflow: auto;">
					<div>
						<span class="glyphicon glyphicon-alert alert-danger" aria-hidden="true"></span>
					</div>
					<div>{{properties.message }}</div>
				</div>
			</div>
		</div>
		<div class="modal-footer confirm-footer">
			<button ng-click="confirm()" type="button" class="btn btn-primary">Confirm</button>
			<button ng-click="closeConfirm()" type="button"
				class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>
	</div>
</div>