<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">
<!-- jQuery library -->
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>


<!-- JQuery Auto Complete -->
<link rel="stylesheet" type="text/css" href="../styles/autocomplete.css">
<script type="text/javascript" src="../lib/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="../js/autocomplete.js"></script>
<!-- //JQuery Auto Complete -->

<style>
<!--

-->
.edit:hover { 
    color: blue;
    cursor: pointer; cursor: hand;
}

.remove:hover { 
    color: red;
    cursor: pointer; cursor: hand;
}
</style>

	<div id="contact-section" style="overflow: auto;" ng-controller="contactController">

		<div ng-show="enableEdit" style="clear: both; margin: 5px 5px 0px 5px; overflow: auto;">
			<div id="contactDetail" class="table">
				<div align="right"
					style="float: left; width: 10%; border: 0px; box-shadow: none;">
					<select class="form-control"
						style="width: 95%; margin-right: 5px" ng-model="contact.type.id">
						<option>Select</option>
						<option ng:repeat="type in addressTypes" ng-selected="type.id == contact.type.id" value="{{type.id}}">{{type.value}}</option>
					</select>
				</div>
				<div style="float: left; width: 85%;">
					<input class="form-control" id="contactValue" ng-model="contact.address.value" placeholder="Enter or type to search a contact"/>
				</div>
				<div style="float: left; margin: 0px 5px 5px 5px;">
					<button ng-click="addContact()" type="button" title="Add new contact" class="btn btn-default glyphicon glyphicon-plus"></button>
				</div>
			</div>
		</div>
		
		<div style="clear: both; margin: 0px 5px 5px 5px; overflow: auto; max-height:150px">
			<table class="table table-hover panel-data" style="width: 100%;">
				<tr ng-repeat="item in contacts track by $index">
					<td width="1%" align="center"><input id="{{item.id}}" ng-checked="contact.id === item.id" type="checkbox"/></td>
					<td width="10%">{{ addressTypeTable[item.type.id] }}</td>
					<td>{{ item.address.value }}</td>
					<td width="1%"><span class="edit glyphicon glyphicon-pencil" aria-hidden="true" ng-show="enableEdit" ng-click="editContact(item)" title="Edit contact"></span></td>
					<td width="1%"><span class="remove glyphicon glyphicon-remove" aria-hidden="true" ng-show="enableEdit" ng-click="removeContact($index)" title="Remove contact"></span></td>
				</tr>
			</table>
		</div>
	</div>