<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<script src="../js/util.js"></script>

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/contract.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />


<style>

.btnStyle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #208fd4 2px;
  text-decoration: none;
}

.btnStyle:hover {
  background: #3cb0fd;
  text-decoration: none;
}
</style>


	<div id="body" ng-controller="contractListController">
		<!-- Common main application header -->
		<div ng-include = "'views/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'contracts'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
				<!-- toolbar -->
				<div id="toolbar" style="padding: 10px;">
				
					<div class="btn-group" style="margin-right: 10px;">
						<button ng-click="go('/contract/new')" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
							Add New
						</button>
		
						<button ng-click="editContract()" type="button" class="btn btn-default" id="btnSave">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							Edit
						</button>
					</div>
					<button ng-click="delete()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						Delete
					</button>
					<button ng-click="refreshList()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						Refresh
					</button>
					<button ng-click="config()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						Config
					</button>
				</div> <!-- //toolbar -->
				
				
				<div ng-show="alert.body" class="response-alert"
					ng-class="{ 'response-alert-danger' : alert.type == AlertType.ERROR , 'response-alert-success' : alert.type == AlertType.OK}">
					<button ng-click="alert={}" type="button" class="close"
						data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>
					<span role="type"><strong>{{alert.type}}!</strong></span> <span
						role="body">{{alert.body}}</span>
				</div>
				
				<!-- Panels -->
				<div style="clear: both; margin: 5px;">

					<div style="float: left">
						<h3>Contract Manager</h3>
					</div>
					<div style="float: right;">
						<input class="form-control" ng-model="searchContracts" placeholder="Filter field data"/>
					</div>
					<div style="display: table-cell; padding: 5px ; float:right">
						                         <button class="btnStyle" ng-disabled="currentContractPage <= 0" ng-click="currentContractPage=currentContractPage-1">
						                           Prev
						                         </button>
						                         <span ng-show="contracts!= 0">{{currentContractPage+1}}/{{numberOfContractManagerPages()}}</span>
						                     <button  class="btnStyle" ng-disabled="contracts.length == 0 || currentContractPage >= contracts.length/contractPageSize - 1" ng-click="currentContractPage=currentContractPage+1">
						                             Next
						                       </button>
						</div>
					<div style="">
						<table class="table table-hover panel-data data-table data-table-header" style="width: 100%;">
							<thead>
								<tr>
									<td width="1%" align="center"><input id="selectAll" type="checkbox"/></td>
									<td width="5%">Reference</td>
									<td>Title</td>
									<td>Supplier</td>
									<td>Owner</td>
									<td>Department</td>
									<td width="5%">Status</td>
									<td width="5%">Type</td>
									<td width="5%">Value</td>
									<td width="5%">Start</td>
									<td width="5%">End</td>
									<td width="1%"></td>
									<td width="1%"></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-hide="contractsLoaded">
									<td><img src="../images/loading-spinner.gif"/>Loading&nbsp;contracts...</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr ng-show="contractsLoaded" ng-class="{'data-table-row-select' : contract.id === item.id}" ng-repeat="item in contracts | filter:searchContracts | orderBy: 'startDate' : true | startFrom:currentContractPage*contractPageSize | limitTo:contractPageSize" ng-click="setSelected(item)">
									<td width="1%" align="center"><input id="{{item.id}}" ng-checked="contract.id === item.id" type="checkbox"/></td>
									<td>{{ item.reference }}</td>
									<td>{{ item.title }}</td>
									<td>{{ item.supplier.value }}</td>
									<td>{{ item.owner.value | owner }}</td>
									<td>{{ item.department.value }}</td>
									<td>{{ item.status.value }}</td>
									<td>{{ item.type.value }}</td>
									<td class="value-cell">{{ item.initialValue | currency:currencies[item.valueUOM]}}</td>
									<td>{{ item.startDate | date:'dd/MM/yyyy' }}</td>
									<td>{{ item.endDate | date:'dd/MM/yyyy' }}</td>
									<td></td> <!-- Notes Indicator -->
									<td></td> <!-- Documents Indicator -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include = "'views/main-app-footer.html'"></div>