<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet"
	type="text/css" />


<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<style>
.table>div>div {
	padding: 0px 5px 0px 5px;
}

.panel-table>div {
	padding: 0px 5px 5px 0px;
}

.panel-border {
	border: 1px solid #cccccc;
	margin: 0px 5px 20px 0px;
}

.statistic {
	border-left: 1px solid #bbbbbb;
	background: #efefef;
	text-align: right;
}

div.admin-page-title .glyphicon {
	color: #ff0000;
}

table.message-table tr:first-child>td {
	padding-bottom: 3px;
}

table.message-table tr:last-child>td {
	color: #909090;
}

.modal-header, .modal-footer {
	background: #eeeeee;
}

td.nowrap>div {
	overflow: hidden;
	width: 100%;
	float: left;
}
</style>

<div id="body">
	<!-- Common main application header -->
	<div ng-include="'views/main-app-header.html'"></div>
	<!-- Content -->
	<div id="content" style="clear: both; overflow: auto;">
		<!-- Left menu -->
		<div ng-include="'views/main-left-menu.html'"></div>
		<!-- Dashboard -->
		<div ng-controller="dashboardController" id="dashboard"
			style="margin: 2px; overflow: hidden; width: auto;">
			<div ng-hide="dashBoardDataLoaded">Loading...</div>
			<div ng-show="dashBoardDataLoaded">
				<div class="table admin-page-title">
					<div>
						<div>
							<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
						</div>
						<div>
							<h3 style="vertical-align: middle;">System&nbsp;Dashboard</h3>
						</div>
					</div>
				</div>
				<div style="display: table; float: right;">
					<div style="display: table-row">
						<div style="display: table-cell;">
							<h3>
								<button ng-click="configureDashboard()" type="button"
									title="Dashboard settings"
									class="btn btn-default glyphicon glyphicon-cog"></button>
							</h3>
						</div>
					</div>
				</div>
				<div>
					<div ng-show="showDashboardConfig"
						style="margin: 10px; border: 1px solid #efefef; clear: both">
						<!-- General Info -->
						<div id="general-section"
							style="overflow: auto; background: #ffffff">
							<div class="modal-header">
								<button type="button" class="close"
									ng-click="closeDashboardConfig()">&times;</button>
								<h4 class="modal-title">Configure Dashboard</h4>
							</div>
							<div class="table" style="padding: 10px">
								<div style="padding: 5px; overflow: auto;">
									<div style="width: 10%">Panel</div>
									<div>
										<select class="form-control"
											ng-options="panel as panel.name for panel in user.profile.dashboard.panels track by panel.id"
											ng-model="selectedPanel"></select>
									</div>
								</div>
								<div style="overflow: auto;">
									<div style="width: 10%">Panel Options</div>
									<div>
										<div ng-show="selectedPanel.id == 'contract'" class="table"
											style="padding: 5px 0px 5px 0px">
											<div>
												<div style="width: 20%">Number of contracts to show</div>
												<div>
													<input type="text" ng-model="selectedPanel.options.count" />
												</div>
											</div>
											<div>
												<div style="width: 20%">Show recently accessed
													contracts</div>
												<div>
													<input type="checkbox" />
												</div>
											</div>
										</div>
										<div ng-show="selectedPanel.id == 'event'" class="table"
											style="padding: 5px 0px 5px 0px">
											<div>
												<div style="width: 20%">Number of contracts to show</div>
												<div>
													<select>
														<option>4</option>
														<option>8</option>
													</select>
												</div>
											</div>
											<div>
												<div style="width: 20%">Show recently accessed
													contracts</div>
												<div>
													<input type="checkbox" />
												</div>
											</div>
										</div>
										<div ng-show="configurePanel.id == 'message'" class="table"
											style="padding: 5px 0px 5px 0px">
											<div>
												<div style="width: 20%">Number of contracts to show</div>
												<div>
													<select>
														<option>4</option>
														<option>8</option>
													</select>
												</div>
											</div>
											<div>
												<div style="width: 20%">Show recently accessed
													contracts</div>
												<div>
													<input type="checkbox" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button ng-click="saveDashboardConfig()" type="button"
								class="btn btn-primary">Confirm</button>
							<button ng-click="closeDashboardConfig()" type="button"
								class="btn btn-default" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
				<!-- Panels -->
				<div class="table panel-table"
					style="padding: 0px 0px 10px 10px; clear: both;">
					<div>
						<!-- Favourite Contracts -->
						<div ng-controller="contractPanelController" id="contractPanel"
							style="float: left; width: 49%; margin-right: 1%;">
							<div class="panel-border">
								<div class="title" style="width: 100%;">
									<div style="float: left;">
										<strong>Favourite Contracts</strong>
									</div>
									<div style="float: right;">
										<span class="glyphicon glyphicon-heart-empty"></span>
									</div>
								</div>
								<div style="overflow: auto; max-height: 300px;">
									<table class="table table-hover panel-data">
										<thead>
											<tr>
												<td>Title</td>
												<td>Supplier</td>
												<td>Status</td>
												<td>Manager</td>
												<td style="width: 32px"></td>
											</tr>
										</thead>
										<tbody>
											<tr class="" ng-repeat="item in contracts"
												ng-mouseover="hoverIn(item)" ng-mouseleave="hoverOut()">
												<td class="nowrap"><div>{{ item.title }}</div></td>
												<td class="nowrap"><div>{{ item.supplier.value }}</div></td>
												<td class="nowrap"><div>{{ item.status.value }}</div></td>
												<td class="nowrap"><div>{{ item.owner.value }}</div></td>
												<td class="nowrap"><span title="View contract"
													ng-show="contract.id === item.id"
													ng-click="viewContract(item)"
													class="open-item glyphicon glyphicon-share-alt"
													aria-hidden="true"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- Upcoming Events -->
						<div id="eventPanel"
							style="float: right; width: 49%; margin-left: 1%;">
							<div ng-controller="taskPanelController" class="panel-border">
								<div class="title" style="overflow: auto; width: 100%">
									<div style="float: left;">
										<strong>Upcoming Events</strong>
									</div>
									<div style="float: right;">
										<span class="glyphicon glyphicon-tasks"></span>
									</div>
								</div>
								<div style="overflow: auto; max-height: 300px;">
									<table class="table panel-data">
										<thead>
											<tr>
												<td>Date</td>
												<td>Contract</td>
												<td>Description</td>
												<td style="width: 20px"></td>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in tasks"
												ng-mouseover="hoverIn(item)" ng-mouseleave="hoverOut()">
												<td>{{ item.startDate | date:'dd/MM/yyyy' }}</td>
												<td>{{ item.external.title }}</td>
												<td>{{ item.title }}</td>
												<td class="nowrap"><span title="View task"
													ng-show="task.id === item.id"
													ng-click="viewTask(item)"
													class="open-item glyphicon glyphicon-share-alt"
													aria-hidden="true"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div>
						<!-- System Statistics -->
						<div ng-controller="statisticsPanelController"
							id="statisticsPanel"
							style="float: left; width: 49%; margin-right: 1%;">
							<div class="panel-border">
								<div class="title" style="width: 100%;">
									<div style="float: left;">
										<strong>System Statistics</strong>
									</div>
									<div style="float: right;">
										<span class="glyphicon glyphicon-scale"></span>
									</div>
								</div>
								<div style="overflow: auto; max-height: 300px;">
									<table class="table table-hover panel-data">
										<tbody>
											<tr ng-repeat="item in statistics.value">
												<td>Total value of <i>{{ item.name }}</i> contracts
												</td>
												<td width="20%" class="statistic">{{ item.total |
													currency:"&pound;"}}</td>
											</tr>
											<tr ng-repeat="item in statistics.max">
												<td>Largest <i>{{ item.name }}</i> contract value
												</td>
												<td width="20%" class="statistic">{{ item.max |
													currency:"&pound;"}}</td>
											</tr>
											<tr ng-repeat="item in statistics.status">
												<td>Total number of <i>{{ item.name }}</i> contracts
												</td>
												<td width="20%" class="statistic">{{ item.total}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- Upcoming Events -->
						<div id="messagePanel"
							style="float: right; width: 49%; margin-left: 1%;">
							<div class="panel-border">
								<div class="title" style="overflow: auto; width: 100%">
									<div style="float: left;">
										<strong>Messages</strong>
									</div>
									<div style="float: right;">
										<span class="glyphicon glyphicon-inbox"></span>
									</div>
								</div>
								<div style="overflow: auto; max-height: 300px;">
									&nbsp;
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/main-app-footer.html'"></div>