<meta charset="ISO-8859-1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="../styles/jquery-ui.min.css">

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/signin.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<title>Contractic - Professional Contract Management</title>



<div ng-controller="sessionController">

	<div class="header">
		<div class="vcenter" style="float: left">&nbsp;</div>
		<div class="vcenter signup">Sign Up</div>
	</div>
	<div id="content">
		<div id="header">
			<div align="left" class="vcenter"
				style="float: left; text-align: left;">
				<div>
					<div>
						<img src="../images/contracticlogo2.png" />
					</div>
					<div style="clear: both;">
						<img src="../images/contractic-tagline.png" />
					</div>
				</div>
			</div>
			<div align="right" class="vcenter" style="float: right">
				<img ng-src="../images/profiles/{{organisation.profile.applogo}}" />
			</div>
		</div>
		<div align="center" style="clear: both; padding: 50px; overflow: auto">
			<div align="left" id="form-content" style="clear: both; width: 80%;">
				<div id="desc-content"
					style="float: left; overflow: auto; width: 55%">
					<ul>
						<li>
							<h3>Current and Legacy Contract Storage</h3>
							<ul>
								<li><h4>Contract document management</h4></li>
								<li><h4>Scan and upload documents of various formats</h4></li>
							</ul>
						</li>
						<li>
							<h3>Monitor Contract Performance</h3>
							<ul>
								<li><h4>Contract calendar management</h4></li>
								<li><h4>Configure reminder alerts on key contract
										dates</h4></li>
							</ul>
						</li>
						<li>
							<h3>Scheduled Management Reporting</h3>
							<ul>
								<li><h4>Key Performance Indicators</h4></li>
								<li><h4>Full audit for regulatory reporting</h4></li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="signin">
					<form class="form-signin">
						<h2 class="form-signin-heading">{{ resetPassword ? 'Enter
							email' : 'Please sign in' }}</h2>
						<div ng-show="alert.body" class="alert alert-dismissible"
							role="alert"
							ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																					'alert-success' : alert.type == AlertType.OK, 
																					'alert-danger' : alert.type == AlertType.ERROR, 
																					'alert-info' : alert.type == AlertType.INFO}">
							<button ng-click="alert.body = null" type="button" class="close"
								data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<span role="type"><strong>{{alert.type}}!</strong></span> <span
								role="body">{{alert.body}}</span>
						</div>
						<input ng-model="session.username" id="inputEmail"
							class="form-control signin-control" placeholder="Email address"
							required autofocus /> <input ng-hide="resetPassword === true"
							ng-model="session.password" type="password" id="inputPassword"
							class="form-control signin-control" placeholder="Password"
							required /> <input ng-hide="captureResetPassword === false"
							ng-model="session.password2" type="password" id="inputPassword2"
							class="form-control signin-control"
							placeholder="Re-enter Password" />
						<div class="checkbox">
							<label> <input type="checkbox" ng-model="resetPassword">Reset
								password
							</label>
						</div>
						<button ng-hide="sessionExists" ng-click="signinButtonClick()"
							ng-disabled="signingIn"
							class="btn btn-lg btn-primary btn-block signin-control"
							type="submit">
							<span ng-hide="signingIn">{{ resetPassword ? 'Reset
								Password' : 'Sign in' }}</span> <span ng-show="signingIn">Signing
								in...</span>
						</button>
						<button ng-show="sessionExists"
							ng-click="createSessionKillExisting()" ng-disabled="signingIn"
							class="btn btn-lg btn-primary btn-block signin-control"
							type="submit">Continue signing in</button>
					</form>
				</div>
				<!-- /container -->
			</div>
		</div>
	</div>
	<div align="center" id="footer" class="footer">
		&copy;<span id="footer-copy-year">2016</span> Cloud21 | <a href="views/terms-of-service.html" target="_blank">Terms Of Service</a> | <a href="views/privacy-statement.html" target="_blank">Privacy Statement</a>
		<br /> Version: {{version}}-{{environment}}
	</div>
</div>