<style>
	.profile .glyphicon {
	    font-size: 32px;
	    color: #0080c0;
	}
	
	.profile .glyphicon:hover {
		cursor: pointer; cursor: hand;
		color: #005782;
	}
	
	.profile-organisation {
		color: #006dcc;
	}
	.profile-username {
		color: #006dcc;
		font-style: italic;
		font-size: 0.875em;
	}
</style>

<!-- Header -->
<div ng-controller="sessionController" style="height: 100px; overflow: hidden; border-bottom: 1px solid #cccccc; background: #efefef">
	<div>
		<div id="logo" style="float: left; display : flex; align-items : center; height: 100px;">
			<img src="../images/contracticlogo2.png" />
		</div>
	</div>
	<div class="col-lg-6" style="float: left; display : flex; align-items : center; height: 100px;">
	    <div class="input-group">
	      <input type="text" class="form-control" ng-model="query" placeholder="Search for..."/>
	      <span class="input-group-btn">
	        <button ng-click="executeSearch()" class="btn btn-default" type="button" style="background: #cccccc; color: #ffffff">
	        	<span class="glyphicon glyphicon-search" style=""></span>
	        </button>
	      </span>
	    </div><!-- /input-group -->
  	</div><!-- /.col-lg-6 -->
	<div style="float: right; display : flex; align-items : center;  height: 100px; padding: 10px">
		<div><span class="profile-organisation">{{organisation.name}}</span><br/>
		<span class="profile-username">{{session.username}}</span></div>
		<div style="clear: both; margin-left: 5px" class="profile btn-group dropdown">
			<span ng-click="go('/profile')" style="padding: 5px;" class="glyphicon glyphicon-user" aria-hidden="true" title="Account"></span>
			<span ng-click="deleteSession()" style="padding: 5px;" class="glyphicon glyphicon-log-out" aria-hidden="true" title="Log out"></span>
		</div>
	</div>
</div>