
	<div align="center" id="footer" class="footer">
	&copy;<span id="footer-copy-year">2016</span> Cloud21 | Help | <a href="views/terms-of-service.html" target="_blank">Terms Of Service</a> | <a href="views/privacy-statement.html" target="_blank">Privacy Statement</a>
	</div>
	
	
	