<div id="left-menu" style="float: left; width: 250px;">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand active" href="#dashboard">Dashboard</a>
	  </div>
	
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
	      <li ng-class="{ 'active': menulink == 'contracts' }"><a href="#contracts"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Contracts</a></li>
	      <li ng-class="{ 'active': menulink == 'tasks' }"><a href="#tasks"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Task Manager</a></li>
	      <li ng-class="{ 'active': menulink == 'documents' }"><a href="#documents"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Documents</a></li>
	      <li ng-class="{ 'active': menulink == 'reports' }"><a href="#reports"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>Reports</a></li>
	      <li ng-class="{ 'active': menulink == 'admin' }"><a href="#admin"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Administration</a></li>
	      <li ng-class="{ 'active': menulink == 'profile' }"><a href="#profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>My Account</a></li>
	      <li ng-class="{ 'active': menulink == 'help' }"><a href="#help" target="_blank"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>Help</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>
</div>