<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<link rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css">
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<!-- JQuery Auto Complete -->
<link rel="stylesheet" type="text/css" href="../styles/autocomplete.css">
<script type="text/javascript" src="../lib/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="../js/autocomplete.js"></script>
<!-- //JQuery Auto Complete -->

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

<style>


div.hcentre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.vcenter
{
	display : flex;
	align-items : center
}

div.inputlabel {
	float: left;
	width: 10%;
	text-align: right;
	border: 0;
	box-shadow: none;
}

div.inputtext{
	float: right;
	width: 90%;
}

div.inputtext-w1{
	width: 80%;
}

</style>


	<div id="body" ng-controller="profileController">
		<!-- Common main application header -->
		<div ng-include = "'views/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'profile'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
				<!-- toolbar -->
				<div id="toolbar" style="padding: 10px;">
					<button ng-click="go('/dashboard')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
						Back
					</button>

					<button ng-click="saveProfile()" type="button" class="btn btn-default" id="btnSave">
						<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						Save Changes
					</button>

				</div>
				
				<!-- Alerts -->
				<div class="alert alert-dismissible" role="alert" ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																			'alert-success' : alert.type == AlertType.OK, 
																			'alert-danger' : alert.type == AlertType.ERROR, 
																			'alert-info' : alert.type == AlertType.INFO}" ng-show="alert.body">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <span role="type"><strong>{{alert.type}}!</strong></span>
				  <span role="body">{{alert.body}}</span>
				</div>
				
				<!-- Panels -->
				<div style="clear: both; margin: 15px; overflow: auto">
					<!-- General Info -->
					<div id="general-section" style="overflow: auto;">
					<form role="form" name="personForm" id="personForm" novalidate>
						<h3>General</h3>	
						<div style="margin: 5px; overflow: auto;">
							<div class="form-control inputlabel" align="right"
								style="float: left; width: 10%; border: 0; box-shadow: none;">Title</div>
							<div class="inputtext" ng-class="{ 'has-error' : (personForm.title.$dirty || personFormSubmitted ) && personForm.title.$error.required }">
								<select class="form-control" id="title" name="title" ng-model="person.title" required>
									<option value="">Please select title</option>
									<option value="Mr">Mr</option>
									<option value="Mrs">Mrs</option>
									<option value="Miss">Miss</option>
								</select>
								<p ng-show="(personForm.title.$dirty || personFormSubmitted ) && personForm.title.$error.required" class="help-block">Title is required.</p>
							</div>
						</div>
	
						<div style="margin: 5px; overflow: auto;">
							<div class="form-control inputlabel" align="right">First&nbsp;Name</div>
							<div class="form-group inputtext" ng-class="{ 'has-error' : (personForm.firstName.$dirty || personFormSubmitted ) && personForm.firstName.$error.required }">
								<input type="text" class="form-control" id="firstName" name="firstName" ng-model="person.firstName" required/>
								<p ng-show="(personForm.firstName.$dirty || personFormSubmitted ) && personForm.firstName.$error.required" class="help-block">First name is required.</p>
							</div>
						</div>
						
						<div style="margin: 5px; overflow: auto;">
							<div class="form-control inputlabel" align="right">Middle&nbsp;Name</div>
							<div style="float: right; width: 90%;">
								<input class="form-control" id="middleName" name="middleName" ng-model="person.middleName"/>
							</div>
						</div>
	
						<div style="margin: 5px; overflow: auto;">
							<div class="form-control inputlabel" align="right">Last&nbsp;Name</div>
							<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (personForm.lastName.$dirty || personFormSubmitted ) && personForm.lastName.$error.required }">
								<input type="text" class="form-control" id="lastName" name="lastName" ng-model="person.lastName" required/>
								<p ng-show="(personForm.lastName.$dirty || personFormSubmitted ) && personForm.lastName.$error.required" class="help-block">Last name is required.</p>
							</div>
						</div>

						<div style="margin: 5px; overflow: auto;">
							<div class="form-control inputlabel" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">Departments:</div>
							<div style="float: right; width: 90%; max-height: 250px; overflow: auto">
								<table class="table table-hover panel-data data-table data-table-header">
									<thead>
										<tr>
											<td>Name</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in person.department">
											<td>{{ item.name }}</td>
										</tr>
									</tbody>
						
								</table>
							</div>
						</div>
						</form>
					</div>
					
					<div>
						<h3>Authentication</h3>
						<form role="form" name="passwordForm" id="passwordForm" novalidate>
			              <div style="margin: 5px; overflow: auto;">
							<div class="form-control inputlabel">Old&nbsp;Password</div>
							<div class="inputtext form-group">
								<input type="password" name="password" class="form-control" ng-model="session.password" placeholder="Enter old password"/>
								
								<p ng-show="oldMatch === true" class="ng-hide help-block" style="color:#C30707;">Please ensure old password is not the same as new password filled in.</p>
							</div>
					      </div>
						
			              <div style="margin: 5px; overflow: auto;">
							<div class="form-control inputlabel">Password</div>
							<div class="inputtext form-group" >
								<input type="password" name="password2" class="form-control" ng-model="session.password2" placeholder="Enter new password"/>
<!-- 								<p ng-show="passwordForm.password2.$invalid && passwordForm.password2.$touched && passwordForm.password2.$pristine && passwordForm.password3.$pristine" class="help-block">Password is required.</p> -->
							       
							</div>
					      </div>
							 
			              <div style="margin: 5px; overflow: auto;">
							<div class="form-control inputlabel">Re-enter</div>
							<div class="inputtext form-group">
								<input type="password" name="password3"class="form-control" ng-model="session.password3" placeholder="Re-enter new password"/>
<!-- 								<p ng-show="passwordForm.password3.$invalid && passwordForm.password3.$touched passwordForm.password2.$pristine && passwordForm.password.$pristine" class="help-block">Password is required.</p> -->
								
								<p ng-show="isMatch === false"  class="help-block" style="color:#C30707;">New Password isn't the same.</p>
								<p ng-show="oldMatch === true" class="ng-hide help-block" style="color:#C30707;">Please ensure old password is not the same as new password filled in.</p>
							</div>
					      </div>
					      </form>
					</div>
					
					<!-- Contact Info -->
					<div>
						<h3>Contracts</h3>
						<div ng-include="'views/contact.html'" ng-init="moduleName = 'Person'; externalId=person.id"></div>
					</div>
<!-- 					<div style="width: 80%;">
						<h3>Preferences</h3>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div ng-include = "'views/main-app-footer.html'"></div>
