<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">
<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<style>
<!--

-->

table.note-body-table {
	width: 100%;
}
table.note-body-table tr:first-child > td {
	padding-bottom: 5px;
}

table.note-body-table tr:last-child > td {
	border-top: 1px dotted #cccccc;
	padding-top: 5px;
}

.btnStyle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #208fd4 2px;
  text-decoration: none;
}

.btnStyle:hover {
  background: #3cb0fd;
  text-decoration: none;
}

</style>
	
	<div ng-controller="noteController">
		<div ng-show="showNoteDialog" style="margin-top: 10px; border: 1px solid #efefef; clear: both">
            <div>
				<!-- General Info -->
				<div id="general-section" style="overflow: auto;">
				<form name="noteForm" novalidate action="">
			        <div style="background: #efefef" class="modal-header">
			          <button type="button" class="close" ng-click="closeNoteDialog()">&times;</button>
			          <h4 class="modal-title">{{ noteAction }} Note</h4>
			        </div>
					<div role="header">
					<div style="margin: 5px; overflow: auto;">
						<div class="form-control" align="right"
							style="float: left; width: 10%; border: 0; box-shadow: none;">Type*:</div>
						<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (noteForm.enabled_type_note.$dirty || noteFormSubmitted) && noteForm.enabled_type_note.$error.required}">
						<select class="form-control" id="enabled" name="enabled_type_note" ng-model="note.type.id" ng-init="type = noteTypes[0].id" required>
							<option value="">Please select type</option>
							<option ng:repeat="type in noteTypes" ng-selected="type.id == note.type.id" value="{{type.id}}">{{type.name}}</option>
						</select>
						<p ng-show="(noteForm.enabled_type_note.$dirty || noteFormSubmitted) && noteForm.enabled_type_note.$error.required" class="help-block">Type is required.</p>
						</div>
					</div>		
					
					
																			
					<div style="margin: 5px; overflow: auto;">
						<div class="form-control" align="right"
							style="float: left; width: 10%; border: 0; box-shadow: none;">Title*:</div>
						<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (noteForm.note_header.$dirty || noteFormSubmitted) && noteForm.note_header.$error.required }">
							<input type="text" class="form-control" id="firstName"  name="note_header" ng-model="note.header" required />
							<p ng-show="(noteForm.note_header.$dirty || noteFormSubmitted) && noteForm.note_header.$error.required " class="help-block">Header is required.</p>
						</div>
					</div>

					<div style="margin: 5px; overflow: auto;">
						<div class="form-control" align="right"
							style="float: left; width: 10%; border: 0; box-shadow: none;">Detail*:</div>
						<div style="float: right; width: 90%;" ng-class="{ 'has-error' : (noteForm.noteDetail.$dirty || noteFormSubmitted) && noteForm.noteDetail.$error.required }">
							<textarea class="form-control" cols="40" rows="5" name="noteDetail" ng-model="note.detail"required></textarea>
							<p ng-show="(noteForm.noteDetail.$dirty || noteFormSubmitted) && noteForm.noteDetail.$error.required " class="help-block">Detail is required.</p>
						</div>
					</div>
				</div>
				</form>
			</div>
		       <div style="background: #efefef; margin: 0px;" class="modal-footer">				          
				  <button ng-click="saveNote()" type="button" class="btn btn-primary">Save</button>        
		          <button ng-click="closeNoteDialog()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        </div>
			</div>
		</div>
		<div id="notesHeader">

			<div style="float: left">
				<h3>Notes</h3>
			</div>
			<div style="display: table; float: right;">
				<div style="display: table-row">
					<div style="display: table-cell; padding: 5px">
						<input class="form-control" id="searchNotes" ng-model= "searchNotes" placeholder="Filter field data"/>
					</div>
					<div style="display: table-cell; padding: 5px">
						<button class="btnStyle" ng-disabled="currentPage <= 0" ng-click="currentPage=currentPage-1">
						        Prev
						    </button>
						    {{currentPage+1}}/{{numberOfPages()}}
						    <button class="btnStyle" ng-disabled="notes.length == 0 || currentPage >= notes.length/pageSize - 1" ng-click="currentPage=currentPage+1">
						        Next
						    </button>
					</div>
					<div style="display: table-cell;">
						<h3>
							<button ng-click="addNote()" type="button" title="Add new section summary" 
								class="btn btn-primary glyphicon glyphicon-plus"></button>
							<button ng-click="editNote()" type="button" title="Edit selected summary"
								class="btn btn-primary glyphicon glyphicon-edit"></button>
							<button ng-click="deleteNote()" type="button" title="Delete selected summary"
								class="btn btn-danger glyphicon glyphicon-remove"></button>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="data-table" style="clear: both; width: 100%">
			<table class="table table-hover data-table data-table-header">
				<thead>
					<tr>
						<td width="1%"></td>
						<td width="1%">Date</td>
						<td width="10%">User</td>
						<td>Note</td>
						<td width="1%">Type</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-hide="notesLoaded">
						<td><img src="../images/loading-spinner.gif"/>Loading&nbsp;notes...</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr ng-show="notesLoaded" ng-repeat="item in notes | filter:searchNotes | orderBy:'created':true | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="setSelectedNote(item)">
						<td align="center"><input ng-checked="note.id == item.id" type="checkbox"/></td>
						<td>{{item.created | date:"dd/MM/yyyy HH:mm:ss"}}</td>
						<td>{{item.user.value}}</td>
						<td>
							<table class="note-body-table">
								<tr><td>{{item.header}}</td></tr>
								<tr ng-show="note.id === item.id"><td class="note-detail">{{item.detail}}</td></tr>
							</table>
						</td>
						<td>{{item.type.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>