<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>


<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />


	<div id="body" ng-controller="reportViewController">
		<!-- Common main application header -->
		<div ng-include = "'views/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Common main application header -->
			<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'reports'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
				<!-- toolbar -->
				<div id="toolbar" style="padding: 10px;">
					<button ng-click="go('/reports')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
						Back
					</button>
		
					<button ng-click="downloadReport()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
						Download
					</button>
					
					<button ng-click="" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						Refresh
					</button>
				</div>
				<!-- Panels -->
				<div style="clear: both; margin: 5px;">
					<div ng-include="reportUrl" ng-init="moduleName = 'Contract'; externalId=contract.id"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include = "'views/main-app-footer.html'"></div>