<meta charset="ISO-8859-1">

<!-- jQuery library -->
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<!-- JQuery Auto Complete -->
<link rel="stylesheet" type="text/css" href="../styles/autocomplete.css">
<script type="text/javascript" src="../lib/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="../js/autocomplete.js"></script>
<!-- //JQuery Auto Complete -->

<link href='../styles/fullcalendar.css' rel='stylesheet' />
<link href='../styles/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='../lib/moment.min.js'></script>
<script src='../lib/fullcalendar.min.js'></script>

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/contract.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css">

<title>Contractic - Professional Contract Management</title>

<style>

table.note-body-table {
	width: 100%;
}
table.note-body-table tr:first-child > td {
	padding-bottom: 5px;
}

table.note-body-table tr:last-child > td {
	border-top: 1px dotted #cccccc;
	padding-top: 5px;
}
</style>

<style>
#calendar {
		width: 100%;
		margin: 0 auto;
	}
</style>

<div ng-controller="taskController">
	<form name="taskForm" action="" novalidate>
						    
	<div role="header">
	
		<div style="margin: 5px; overflow: auto;">
			<div class="form-control" align="right"
			   style="float: left; width: 10%; border: 0; box-shadow: none;">Title*</div>
			<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (taskForm.task_Name.$dirty || taskFormSubmitted) && taskForm.task_Name.$error.required }">
				<input type="text" class="form-control" id="taskName" name="task_Name" ng-model="task.title" required/>
				<p ng-show="(taskForm.task_Name.$dirty || taskFormSubmitted) && taskForm.task_Name.$error.required" class="help-block">Title is required.</p>
			</div>
	      </div>
	            <div style="margin: 5px; overflow: auto;">
			<div class="form-control" align="right"
			   style="float: left; width: 10%; border: 0; box-shadow: none;">Description</div>
			<div style="float: right; width: 90%;">
				<textarea class="form-control" rows="3" id="taskDescription" ng-model="task.description"></textarea>
			</div>
	      </div>
	        
	            <div style="margin: 5px; overflow: auto;">
			<div class="form-control" align="right"
			   style="float: left; width: 10%; border: 0; box-shadow: none;">Status*</div>
			<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (taskForm.task_status.$dirty || taskFormSubmitted) && taskForm.task_status.$error.required }">
				<select class="form-control" id="taskStatus" name= "task_status" ng-model="task.status.id" ng-init="type = taskStatuses[0].id" required >
				    <option value="">Please select a status</option>
					<option ng:repeat="status in taskstatuses" ng-selected="status.id == task.status.id" value="{{status.id}}">{{status.name}}</option>
				</select>
				<p ng-show="(taskForm.task_status.$dirty || taskFormSubmitted) && taskForm.task_status.$error.required" class="help-block">Status is required.</p>
			</div>
	      </div>
	      
	      <div style="margin: 5px; overflow: auto;">
			<div class="form-control" align="right"
			   style="float: left; width: 10%; border: 0; box-shadow: none;">Assignee*</div>
			<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (taskForm.assignee_task.$dirty || taskFormSubmitted) && taskForm.assignee_task.$error.required}">
				<input class="form-control" id="taskPerson" name="assignee_task" ng-model="task.person.value" placeholder="Type to search" required/>
				<p ng-show="(taskForm.assignee_task.$dirty || taskFormSubmitted) && taskForm.assignee_task.$error.required" class="help-block">Assignee is required.</p>
			</div>
	      </div>
		
	      <div style="margin: 5px; overflow: auto;">
			<div class="form-control" align="right"
			   style="float: left; width: 10%; border: 0; box-shadow: none;">Start&nbsp;Date*</div>
			<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (taskForm.taskStart.$dirty || taskFormSubmitted) && taskForm.taskStart.$error.required}">
				<input class="form-control" name="taskStart" id="taskStartDate" ng-model="task.startDate" datepicker required/>
				<p ng-show="(taskForm.taskStart.$dirty || taskFormSubmitted) && taskForm.taskStart.$error.required" class="help-block">Start date is required.</p>
			</div>
	      </div>				
		
	      <div style="margin: 5px; overflow: auto;">
			<div class="form-control" align="right"
			   style="float: left; width: 10%; border: 0; box-shadow: none;">Due&nbsp;Date*</div>
			<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (taskForm.taskEnd.$dirty || taskFormSubmitted) && taskForm.taskEnd.$error.required}">
				<input class="form-control" name="taskEnd" id="taskEndDate" ng-model="task.endDate" datepicker required/>
				<p ng-show="(taskForm.taskEnd.$dirty || taskFormSubmitted) && taskForm.taskEnd.$error.required" class="help-block">Due date is required.</p>
			</div>
	      </div>
			
	      <div style="margin: 5px; overflow: auto;">
			<div class="form-control" align="right"
			   style="float: left; width: 10%; border: 0; box-shadow: none;">Parent</div>
			<div class="form-group" style="float: right; width: 90%;">
				<input class="form-control" id="taskParent" name = "task_parent" ng-model="task.parent.value" placeholder="Type to search" />
				
			</div>
	      </div>
	      <div style="margin: 5px; overflow: auto;">
			<h4>Calendar Alerts</h4>
	            <div style="margin: 5px; overflow: auto;">
			<div class="form-control" align="right"
			   style="float: left; width: 10%; border: 0; box-shadow: none;">Notify</div>
			<div class="form-group" style="float: right; width: 90%;">
				<!-- Contact Info -->
				<div style="clear: both; margin: 0px 5px 5px 5px; overflow: auto; max-height:150px">
					<table class="table table-hover panel-data" style="width: 100%;">
						<tr ng-repeat="item in contacts track by $index">
							<td width="1%" align="center"><input ng-model="item.selected" ng-change="changeTaskContact(item)" type="checkbox"/></td>
							<td width="10%">{{ addressTypeTable[item.type.id] }}</td>
							<td>{{ item.address.value }}</td>
						</tr>
					</table>
				</div>
				<div style="clear: both; margin: 0px 5px 5px 5px; overflow: auto;">
					<div class="table" style="width: 500px">
						<div>
							<div>
								<div class="radio">
								  <label><input ng-model="taskrepeat" ng-value="false" ng-click="task.repeat.id=null" type="radio" name="optradio"/>On</label>
								</div>
							</div>
							<div ng-hide="taskrepeat"><input id="repeatDate" type="text" ng-model="task.repeat.value" datepicker/></div>
						</div>
						<div>
							<div>
								<div class="radio">
								  <label><input ng-model="taskrepeat" ng-value="true" type="radio" name="optradio"/>Repeat</label>
								</div>
							</div>
							<div>
								<div ng-show="taskrepeat" class="table">
									<div>
										<div>
											<select ng-model="task.repeat.id">
												<option value="D">Daily</option>
												<option value="W">Weekly</option>
												<option value="M">Monthly</option>
												<option value="Q">Quarterly</option>
												<option value="Y">Yearly</option>
											</select>
										</div>
										<div>
											<div class="table" ng-show="task.repeat.id!=null && task.repeat.id!='D'">
												<div>
													<div>on</div>
													<div align="left">
														<input type="text" id="repeatYear" class="input" ng-show="task.repeat.id==='Y'" ng-model="task.repeat.value" datepicker />
														<select ng-model="task.repeat.value" ng-show="task.repeat.id==='M'">
															<option ng-repeat="idx in taskmonthdays track by $index" value="{{$index+1}}">{{$index+1}}</option>
														</select>
														<select ng-model="task.repeat.value" ng-show="task.repeat.id==='W'">
															<option ng-repeat="idx in taskweekdays track by $index" value="{{$index+1}}">{{$index+1}}</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div>From</div>
										<div>
											<input type="text" id="repeatStart" ng-model="task.repeatStart" datepicker />
										</div>
									</div>
									<div>
										<div>To</div>
										<div>
											<input type="text" id="repeatEnd" ng-model="task.repeatEnd" datepicker />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	      </div>
		</div>
		</div>
	</form>
</div>