<meta charset="ISO-8859-1">

<!-- jQuery library -->
<link rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css">
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<!-- JQuery Auto Complete -->
<link rel="stylesheet" type="text/css" href="../styles/autocomplete.css">
<script type="text/javascript" src="../lib/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="../js/autocomplete.js"></script>
<!-- //JQuery Auto Complete -->

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<style>
#task-form{
	overflow: auto;
	padding: 0px 10px 10px 10px;
}
</style>

<div id="body" ng-controller="taskAddEditController">
	<!-- Common main application header -->
	<div ng-include = "'views/main-app-header.html'"></div>
	<!-- Content -->
	<div id="content"
		style="clear: both; overflow: auto;">
		<!-- Left menu -->
		<div ng-include = "'views/main-left-menu.html'" onload="menulink = 'tasks'"></div>
		
		<!-- Dashboard -->
		<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">

		<!-- Toolbar -->
		<div id="toolbar" style="padding: 10px;">
			<button ng-click="taskList()" type="button" class="btn btn-default"
				style="margin-right: 10px;">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
				Task List
			</button>

			<button ng-click="saveTask()" type="button" class="btn btn-default" id="btnSave">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
				Save Changes
			</button>

			<div class="btn-group" style="margin-right: 10px;">
				<button ng-click="assignTask()" type="button" class="btn btn-default" id="btnAssign">
					<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
					Assign
				</button>
				<button ng-click="notify()" type="button" class="btn btn-default" id="btnAssign">
					<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					Notify
				</button>
			</div>

			<button ng-click="deleteTask()" type="button" class="btn btn-default" id="btnSave">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
				Delete
			</button>
		</div>
		
		<!-- Form -->
		<div id="task-form">
			 <!-- Alerts -->
				<div class="alert alert-dismissible" role="alert" ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																			'alert-success' : alert.type == AlertType.OK, 
																			'alert-danger' : alert.type == AlertType.ERROR, 
																			'alert-info' : alert.type == AlertType.INFO}" ng-show="alert.body">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <span role="type"><strong>{{alert.type}}!</strong></span>
				  <span role="body">{{alert.body}}</span>
				</div>
				<h3>Edit Task</h3>
				<div class="contract-tabs">
				    <ul class="nav nav-tabs">
				        <li class="active"><a data-toggle="tab" href="#generalTab" onclick="return false;">General</a></li>
				        <li><a data-toggle="tab" ng-click="activeTab='Notes';loadNotes()" href="#notesTab" onclick="return false;">Notes</a></li>
				        <li><a data-toggle="tab" ng-click="activeTab='Audit';loadAudit()" href="#auditTab" onclick="return false;">Audit</a></li>		        
				    </ul>
				    <div class="tab-content">
                       
						<div id="generalTab" class="tab-pane fade in active">
							<div><div ng-include="'views/task.html'" ng-init="taskId=task.id"></div></div>
						</div>
						<div id="notesTab" class="tab-pane fade in active">
							<div ng-show="activeTab=='Notes'"><div ng-include="'views/note.html'" ng-init="moduleName = 'Task'; externalId=task.id"></div></div>
						</div>
						<div id="auditTab" class="tab-pane fade in active">
							<div ng-show="activeTab=='Audit'" ng-include="'views/audit.html'" ng-init="moduleName = 'Task'; externalId=task.id"></div>
						</div>
					</div>
				</div>				
	 		</div>
		</div>				
	</div>
</div>
	
<div ng-include = "'views/main-app-footer.html'"></div>