
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />


<style>

.btnStyle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #208fd4 2px;
  text-decoration: none;
}

.btnStyle:hover {
  background: #3cb0fd;
  text-decoration: none;
}

</style>

<script src="../js/util.js"></script>

	<div id="body" ng-controller="procedureController">
		<!-- Common main application header -->
		<div ng-include = "'viewsie8/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'viewsie8/main-left-menu.html'" onload="menulink = 'admin'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
						
				<!-- Status List Toolbar -->
				<div id="toolbar" style="padding: 10px; clear: both">
					<button ng-click="go('/admin')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						Back
					</button>
					
					<div class="btn-group" style="margin-right: 10px;">
						<button ng-click="newProcedure()" type="button" class="btn btn-default" data-toggle="modal">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							New
						</button>
						<button ng-click="editProcedure()" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							Edit
						</button>
					</div>
		
					<button ng-click="deleteProcedure()" type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						Delete
					</button>				
					
					<button ng-click="loadProcedures()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						Refresh
					</button>	
				</div>
	
				<!-- Alerts -->
				<div style="margin: 10px;" class="alert alert-dismissible" role="alert" ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																			'alert-success' : alert.type == AlertType.OK, 
																			'alert-danger' : alert.type == AlertType.ERROR, 
																			'alert-info' : alert.type == AlertType.INFO}" ng-show="alert.body">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <span role="type"><strong>{{alert.type}}!</strong></span>
				  <span role="body">{{alert.body}}</span>
				</div>
	
				<div><div ng-show="showConfirm" ng-include="'viewsie8/confirm.html'"></div></div>
				<div ng-show="dialog.show" style="margin: 10px; border: 1px solid #efefef; clear: both">
		            <div>
						<!-- General Info -->
						<div id="general-section" style="overflow: auto;">
						<form role="form" name="procedureForm" novalidate>
					        <div style="background: #efefef" class="modal-header">
					          <button type="button" class="close" ng-click="closeDialog()">&times;</button>
					          <h4 class="modal-title">{{ action }} Procedure</h4>
					        </div>
							<div role="header">
				              <div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right" style="float: left; width: 20%; border: 0; box-shadow: none;">Name</div>
								<div style="float: right; width: 80%;" class="form-group" ng-class="{ 'has-error' : (procedureForm.name.$dirty || procedureFormSubmitted) && procedureForm.name.$error.required }">
									<input class="form-control" id="name" name="name" ng-model="procedure.name" required/>
									<p ng-show="(procedureForm.name.$dirty || procedureFormSubmitted) && procedureForm.name.$error.required " class="help-block">Name is required.</p>
								</div>
						      </div>
								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 20%; border: 0; box-shadow: none;">&nbsp;</div>
									<div style="float: right; width: 80%;" class="checkbox">
										<label> <input type="checkbox" ng-model="procedure.active"/>
											Active
										</label>
									</div>
								</div>
						</div>
						</form>
					</div>
				       <div style="background: #efefef; margin: 0px;" class="modal-footer">				          
						  <button ng-click="saveProcedure()" type="button" class="btn btn-primary">Save</button>        
				          <button ng-click="closeDialog()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				        </div>
					</div>
				</div>
	
				<div style="clear: both; padding: 10px;" class="table-responsive">
					<div style="width: 100%" class="table admin-page-title">
						<div>
							<div><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></div>
							<div><h3 style="vertical-align:middle;">&nbsp;Procedure&nbsp;List</h3></div>
							<div style="float: right"><input class="form-control" ng-model="searchProcedure" placeholder="Filter field data"/></div>
						<div style="display: table-cell; padding: 5px ; float:right">
						                         <button class="btnStyle" ng-disabled="currentProcedurePage <= 0" ng-click="currentProcedurePage=currentProcedurePage-1">
						                           Prev
						                         </button>
						                         <span ng-if="procedures!=0">{{currentProcedurePage+1}}/{{numberOfPages()}}</span>
						                     <button  class="btnStyle" ng-disabled="procedures.length == 0 || currentProcedurePage >= procedures.length/pageProcedureSize - 1" ng-click="currentProcedurePage=currentProcedurePage+1">
						                             Next
						                       </button>
						</div>
						</div>
					</div>
					<div>
					<table id="etable" class="table table-hover panel-data data-table data-table-header">
						<thead>
							<tr>
								<td align="center"><input id="selectAll" type="checkbox" /></td>
								<td>Name</td>
								<td>Active</td>
							</tr>
						</thead>
			
						<tbody>
							<tr ng-hide="proceduresLoaded">
								<td>Loading...</td>
								<td></td>
								<td></td>
							</tr>
							<tr ng-show="proceduresLoaded" ng-class="{'data-table-row-select' : procedure.id === item.id}" ng-repeat="item in procedures | filter:searchProcedure | orderBy:['name'] | startFrom:currentProcedurePage*pageProcedureSize | limitTo:pageProcedureSize" ng-click="setSelected(item)">
								<td align="center"><input id="{{item.id}}" ng-checked="procedure.id === item.id" type="checkbox"/></td>
								<td>{{ item.name }}</td>
								<td align="center"><input name="enabled" id="{{ item.id }}" type="checkbox"
									ng-model="item.active" /></td>
							</tr>
						</tbody>
			
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include = "'viewsie8/main-app-footer.html'"></div>
