
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<script src="../js/util.js"></script>

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet"
	type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />
<style>
.admin-page-title .glyphicon {
	color: #4C7A34;
}

.btnStyle {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 11px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border: solid #208fd4 2px;
	text-decoration: none;
}

.btnStyle:hover {
	background: #3cb0fd;
	text-decoration: none;
}
</style>
<div id="body" ng-controller="personListController">
	<!-- Common main application header -->
	<div ng-include="'viewsie8/main-app-header.html'"></div>
	<!-- Content -->
	<div id="content" style="clear: both; overflow: auto;">
		<!-- Left menu -->
		<div ng-include="'viewsie8/main-left-menu.html'"
			onload="menulink = 'admin'"></div>

		<!-- Dashboard -->
		<div id="dashboard"
			style="margin: 2px; overflow: hidden; width: auto;">

			<!-- Person List Toolbar -->
			<div id="toolbar" style="padding: 10px; clear: both">
				<button ng-click="go('/admin')" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					Back
				</button>

				<div class="btn-group" style="margin-right: 10px;">
					<button ng-click="go('/person/new')" type="button"
						class="btn btn-default">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						New
					</button>
					<button ng-click="editPerson()" type="button"
						class="btn btn-default">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						Edit
					</button>
				</div>

				<button ng-click="deletePerson()" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
					Delete
				</button>

				<button ng-click="refreshList()" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					Refresh
				</button>

			</div>

			<!-- Alerts -->
			<div style="margin: 10px;" class="alert alert-dismissible"
				role="alert"
				ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																			'alert-success' : alert.type == AlertType.OK, 
																			'alert-danger' : alert.type == AlertType.ERROR, 
																			'alert-info' : alert.type == AlertType.INFO}"
				ng-show="alert.body">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span role="type"><strong>{{alert.type}}!</strong></span> <span
					role="body">{{alert.body}}</span>
			</div>

			<div>
				<div ng-show="showConfirm" ng-include="'viewsie8/confirm.html'"></div>
			</div>

			<div style="clear: both; padding: 10px;" class="table-responsive">
				<div style="width: 100%" class="table admin-page-title">
					<div>
						<div style="width: 1%">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</div>
						<div style="text-align: left">
							<h3 style="vertical-align: middle;">&nbsp;Person&nbsp;List</h3>
						</div>
						<div style="float: right">
							<input class="form-control" ng-model="searchPerson"
								placeholder="Filter field data" />
						</div>
						<div style="display: table-cell; padding: 5px; float: right">
							<button class="btnStyle" ng-disabled="currentPersonPage <= 0"
								ng-click="currentPersonPage=currentPersonPage-1">Prev</button>
							<span ng-show="persons!= 0">{{currentPersonPage+1}}/{{numberOfPages()}}</span>
							<button class="btnStyle"
								ng-disabled="persons.length == 0 || currentPersonPage >= persons.length/pageSize - 1"
								ng-click="currentPersonPage=currentPersonPage+1">Next</button>
						</div>

					</div>
				</div>
				<table
					class="table table-hover panel-data data-table data-table-header">
					<thead>
						<tr>
							<td align="center" width="1%"><input id="selectAll"
								type="checkbox" /></td>
							<td width="15%">Reference</td>
							<td><a href="#/person" ng-click="sortField = 'firstName'">Name<span
									ng-show="sortField == 'firstName'"
									class="glyphicon glyphicon-menu-down"></span></a></td>
							<td width="50%">Department</td>
							<td width="15%">Job Title</td>
							<td align="center" width="1%">Active</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-hide="personsLoaded">
							<td><img src="../images/loading-spinner.gif" />Loading...</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr ng-show="personsLoaded"
							ng-class="{'data-table-row-select' : person.id === item.id}"
							ng-repeat="item in persons | filter:searchPerson | orderBy:['lastName', 'firstName'] | startFrom:currentPersonPage*pageSize | limitTo:pageSize"
							ng-click="setSelected(item)"">
							<td align="center"><input ng-checked="person.id == item.id"
								type="checkbox" /></td>
							<td>{{ item.reference }}</td>
							<td>{{ [item.title, item.firstName, item.middleName,
								item.lastName].join(' ') }}</td>
							<td>{{ item.department.join(', ') }}</td>
							<td>{{ item.jobTitle }}</td>
							<td align="center"><input name="enabled" type="checkbox"
								ng-checked="item.active" /></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>
<div ng-include="'viewsie8/main-app-footer.html'"></div>
