
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<link rel="stylesheet" type="text/css"
	href="../styles/jquery-ui.min.css">
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>
<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet"
	type="text/css" />

<!-- JQuery Auto Complete -->
<link rel="stylesheet" type="text/css" href="../styles/autocomplete.css">
<script type="text/javascript"
	src="../lib/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="../js/autocomplete.js"></script>
<!-- //JQuery Auto Complete -->

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<link href="../styles/tabs.css" rel="stylesheet" type="text/css" />
<script src="../js/tabs.js"></script>

<div id="body" ng-controller="personAddEditController">
	<!-- Common main application header -->
	<div ng-include="'viewsie8/main-app-header.html'"></div>
	<!-- Content -->
	<div id="content" style="clear: both; overflow: auto;">
		<!-- Left menu -->
		<div ng-include="'viewsie8/main-left-menu.html'"
			onload="menulink = 'admin'"></div>

		<!-- Dashboard -->
		<div id="dashboard"
			style="margin: 2px; overflow: hidden; width: auto;">

			<!-- Toolbar -->
			<div id="toolbar" style="padding: 10px;">
				<button ng-click="personList()" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					Person List
				</button>

				<div class="btn-group" style="margin-right: 10px;">
					<button ng-click="newPerson()" type="button"
						class="btn btn-default">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						Add New
					</button>

					<button ng-click="savePerson()" type="button"
						class="btn btn-default" id="btnSave">
						<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						Save Changes
					</button>

				</div>

			</div>

			<!-- Form -->

			<div id="person-form" style="overflow: auto; padding: 10px;">


				<!-- Alerts -->
				<div class="alert alert-dismissible" role="alert"
					ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																			'alert-success' : alert.type == AlertType.OK, 
																			'alert-danger' : alert.type == AlertType.ERROR, 
																			'alert-info' : alert.type == AlertType.INFO}"
					ng-show="alert.body">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span role="type"><strong>{{alert.type}}!</strong></span> <span
						role="body">{{alert.body}}</span>
				</div>


				<div class="contract-tabs">
					<div>
						<table class="tabs">
							<tr>
								<td class="tab tab-current" data-tab="generalTab"><span
									class="tab-icon glyphicon glyphicon-duplicate"
									aria-hidden="true"></span>General</td>
								<td ng-click="loadNotes()" class="tab" data-tab="noteTab">
									<span class="tab-icon glyphicon glyphicon-duplicate"
									aria-hidden="true"></span>Notes
								</td>
								<td ng-click="loadAudit()" class="tab" data-tab="auditTab">
									<span class="tab-icon glyphicon glyphicon-duplicate"
									aria-hidden="true"></span>Audit
								</td>
								<td class="tab-last">&nbsp;</td>
							</tr>
						</table>
					</div>

					<div id="generalTab" class="tab-content current">
						<!-- General Info -->
						<form name="personForm" action="" novalidate>
							<div id="general-section" style="overflow: auto;">

								<h2>General</h2>
								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">Reference</div>
									<div style="float: right; width: 90%;">
										<input class="form-control" id="reference" name="reference"
											ng-model="person.reference" />
									</div>
								</div>

								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">Title*</div>
									<div style="float: right; width: 90%;"
										ng-class="{ 'has-error' : (personForm.title.$dirty || personFormSubmitted ) && personForm.title.$error.required }">
										<select class="form-control" id="title" name="title"
											ng-model="person.title" required>
											<option value="">Please select title</option>
											<option value="Mr">Mr</option>
											<option value="Mrs">Mrs</option>
											<option value="Miss">Miss</option>
											<option value="Master">Master</option>
										</select>
										<p
											ng-show="(personForm.title.$dirty || personFormSubmitted ) && personForm.title.$error.required"
											class="help-block">Title is required.</p>
									</div>
								</div>

								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">First&nbsp;Name*</div>
									<div class="form-group" style="float: right; width: 90%;"
										ng-class="{ 'has-error' : (personForm.firstName.$dirty || personFormSubmitted ) && personForm.firstName.$error.required }">
										<input type="text" class="form-control" id="firstName"
											name="firstName" ng-model="person.firstName" required />
										<p
											ng-show="(personForm.firstName.$dirty || personFormSubmitted ) && personForm.firstName.$error.required "
											class="help-block">First name is required.</p>
									</div>
								</div>



								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">Middle&nbsp;Name</div>
									<div style="float: right; width: 90%;">
										<input class="form-control" id="middleName" name="middleName"
											ng-model="person.middleName" />
									</div>
								</div>

								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">Last&nbsp;Name</div>
									<div class="form-group" style="float: right; width: 90%;"
										ng-class="{ 'has-error' : (personForm.lastName.$dirty || personFormSubmitted ) && personForm.lastName.$error.required }">
										<input type="text" class="form-control" id="lastName"
											name="lastName" ng-model="person.lastName" required />
										<p
											ng-show="(personForm.lastName.$dirty || personFormSubmitted ) && personForm.lastName.$error.required"
											class="help-block">Last name is required.</p>
									</div>
								</div>

								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">Job&nbsp;Title*</div>
									<div class="form-group" style="float: right; width: 90%;">
										<input type="text" class="form-control" id="jobTitle"
											name="jobTitle" ng-model="person.jobTitle" />
									</div>
								</div>

								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">&nbsp;</div>
									<div class="checkbox">
										<label> <input type="checkbox" name="active"
											ng-model="person.active" /> Active
										</label>
									</div>
								</div>
								<div style="margin: 5px; overflow: auto;">
									<div class="form-control" align="right"
										style="float: left; width: 10%; border: 0; box-shadow: none;">Departments:</div>
									<div
										style="float: right; width: 90%; max-height: 250px; overflow: auto">
										<table
											class="table table-hover panel-data data-table data-table-header">
											<thead>
												<tr>
													<td align="center"><input id="selectAll"
														type="checkbox" /></td>
													<td>Name</td>
												</tr>
											</thead>

											<tbody>
												<tr ng-hide="departmentsLoaded">
													<td>Loading...</td>
													<td></td>
												</tr>
												<tr ng-show="departmentsLoaded"
													ng-class="{'data-table-row-select' : department.id === item.id}"
													ng-repeat="item in departments | filter:searchRoles"
													ng-click="setSelectedDepartment(item)">
													<td align="center"><input id="{{item.id}}"
														ng-model="item.ispersondept" type="checkbox" /></td>
													<td>{{ item.name }}</td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>
						</form>
						<!-- Contact Info -->
						<div>
							<h3>Contact Information</h3>
							<div ng-include="'viewsie8/contact.html'"
								ng-init="moduleName = 'Person'; externalId=person.id"></div>
						</div>
					</div>
					<div id="noteTab" class="tab-content">
						<div ng-include="'viewsie8/note.html'"
							ng-init="moduleName = 'Person'; externalId=person.id"></div>
					</div>
					<div id="auditTab" class="tab-content">
						<div ng-include="'viewsie8/audit.html'"
							ng-init="moduleName = 'Person'; externalId=person.id"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'viewsie8/main-app-footer.html'"></div>