<meta charset="ISO-8859-1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css">

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<!-- JQuery Auto Complete -->
<link rel="stylesheet" type="text/css" href="../styles/autocomplete.css">
<script type="text/javascript" src="../lib/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="../js/autocomplete.js"></script>
<!-- //JQuery Auto Complete -->

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<link href="../styles/tabs.css" rel="stylesheet" type="text/css" />
<script src="../js/tabs.js"></script>	
	
<div id="body" ng-controller="supplierAddEditController">
		<!-- Common main application header -->
		<div ng-include = "'viewsie8/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'viewsie8/main-left-menu.html'" onload="menulink = 'admin'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">

			<!-- Toolbar -->
			<div id="toolbar" style="padding: 10px;">
				<button ng-click="supplierList()" type="button" class="btn btn-default"
					style="margin-right: 10px;">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					Back
				</button>
	
				<div class="btn-group" style="margin-right: 10px;">
					<button ng-click="newSupplier()" type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						Add New
					</button>
	
					<button ng-click="saveSupplier()" type="button" class="btn btn-default" id="btnSave">
						<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						Save Changes
					</button>
	
				</div>
	
			</div>
		
		<!-- Form -->
		
		<div id="supplier-form" style="overflow: auto; padding: 10px;">
			
			
				<!-- Alerts -->
				<div class="alert alert-dismissible" role="alert" ng-class="{'alert-warning' : alert.type == AlertType.WARNING, 
																			'alert-success' : alert.type == AlertType.OK, 
																			'alert-danger' : alert.type == AlertType.ERROR, 
																			'alert-info' : alert.type == AlertType.INFO}" ng-show="alert.body">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <span role="type"><strong>{{alert.type}}!</strong></span>
				  <span role="body">{{alert.body}}</span>
				</div>
				
				<div class="contract-tabs">
								
					<div>
						<table class="tabs">
							<tr>
								<td class="tab tab-current" data-tab="generalTab">
									<span class="tab-icon glyphicon glyphicon-duplicate" aria-hidden="true"></span>General
								</td>
								<td ng-click="loadNotes()" class="tab" data-tab="noteTab">
									<span class="tab-icon glyphicon glyphicon-duplicate" aria-hidden="true"></span>Notes
								</td>
								<td ng-click="loadAudit()" class="tab" data-tab="auditTab">
									<span class="tab-icon glyphicon glyphicon-duplicate" aria-hidden="true"></span>Audit
								</td>
								<td class="tab-last">&nbsp;</td>
							</tr>
						</table>
					</div>
				
					<div id="generalTab" class="tab-content current">
						<!-- General Info -->
						<div id="general-section" style="overflow: auto;">
							<h2>General</h2>
							<form role="form" name="supplierForm" novalidate>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Reference*</div>
								<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (supplierForm.reference.$dirty || supplierFormSubmitted ) && supplierForm.reference.$error.required }">
									<input type="text" class="form-control" id="reference" name="reference" ng-model="supplier.reference" required/>
									<p ng-show="(supplierForm.reference.$dirty || supplierFormSubmitted ) && supplierForm.reference.$error.required " class="help-block">Reference is required.</p> 
								</div>
							</div>
							
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Ext.&nbsp;Ref</div>
								<div style="float: right; width: 90%;">
									<input class="form-control" id="externalRef" name="externalRef" ng-model="supplier.externalRef"/>
								</div>
							</div>
		
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Name*</div>
								<div class="form-group" style="float: right; width: 90%;" ng-class="{ 'has-error' : (supplierForm.firstName.$dirty || supplierFormSubmitted ) && supplierForm.firstName.$error.required }">
									<input type="text" class="form-control" id="firstName" name="firstName" ng-model="supplier.name" required/>
									<p ng-show="(supplierForm.firstName.$dirty || supplierFormSubmitted ) && supplierForm.firstName.$error.required " class="help-block">Name is required.</p>
								</div>
							</div>
		
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Contact&nbsp;Name</div>
								<div style="float: right; width: 90%;">
									<input class="form-control" id="middleName" name="middleName"/>
								</div>
							</div>
		
		
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">&nbsp;</div>
								<div class="checkbox">
									<label> <input type="checkbox" name="active" ng-model="supplier.active"/>
										Active
									</label>
								</div>
							</div>
							</form>
						</div>
		
						<!-- Contact Info -->
						<div>
							<h3>Contact Information</h3>
							<div ng-include="'viewsie8/contact.html'" ng-init="moduleName = 'Supplier'; externalId=supplier.id"></div>
						</div>
					</div>
					<div id="noteTab" class="tab-content">
						<div ng-include="'viewsie8/note.html'" ng-init="moduleName = 'Supplier'; externalId=supplier.id"></div>
					</div>
					<div id="auditTab" class="tab-content">
						<div ng-include="'viewsie8/audit.html'" ng-init="moduleName = 'Supplier'; externalId=supplier.id"></div>
					</div>
				</div>
			
		</div>
	</div>
	</div>
	</div>
	<div ng-include = "'viewsie8/main-app-footer.html'"></div>