<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>


<link rel="icon" href="../images/favicon.ico">

<link href="../styles/admin.css" rel="stylesheet" type="text/css" />
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<style>


div.hcentre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.vcenter
{
	display : flex;
	align-items : center
}

.adminavatar{
	margin: 10px;
	width: 100px;
	height: 100px;
	outline: 1px solid #cccccc;
}

div.adminpanel{
	width: 300px;
	margin: 15px;
	padding: 15px;
}


div.table {
	display: table;
}

div.table > div {
	display: table-row;
}

div.table > div > div {
	display: table-cell;
	width: 250px;
}

div.cell-hover:hover{
	background-color:#f7f6f6;
}

</style>

	<div id="body" ng-controller="adminController">
		<!-- Common main application header -->
		<div ng-include = "'viewsie8/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'viewsie8/main-left-menu.html'" onload="menulink = 'admin'"></div>
			
			<div style="margin: 2px; overflow:hidden; width:auto;">
				<!-- Panels -->
				<div style="clear: both; margin: 5px">
					<h2>Administration</h2>
					<div style="margin: 10px">
						<h3 class="admin-title">People, Users and Contacts</h3>
						<div class="table">
							<div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px;" class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/person">People</a></h4>
											Create, Edit and Manage people on the system. All users, supplier contacts, managers must be created as a person before they can be used within the system
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px;" class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/user">Users</a></h4>
											Create, Edit and Manage users of the system including passwords, password reset and user permissions. These are the users authorized to logon to and use the system
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #ff0000" class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/supplier">Suppliers</a></h4>
											Manage all suppliers used within the system including key contacts, name and addresses
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px;" class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/department">Departments</a></h4>
											Create, edit and manage organisation departments on the system. All users, supplier contacts, managers must be created as a person before they can be used within the system
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px;" class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4>Contacts</h4>
											View, Create and Edit contacts used in the system.
										</div>
									</div>
								</div>
								<div></div>
							</div>
						</div>
					</div>
					
					<div style="margin: 10px">
						<h3 class="admin-title">Contract Data Setup</h3>
						<div class="table">
							<div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #0000ff" class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/contractreferenceformat">Reference Formats</a></h4>
											Manage all contract reference formats. You can create formats for contract references to be generated. Assign defaults per contract type
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #FFA834" class="glyphicon glyphicon-tags" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/contracttype">Types</a></h4>
											Manage all contract types used within the Contract management module.
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #4C7A34" class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/procedure">Procedure</a></h4>
											Manage contract procurement procedures used by the contract management module.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div style="margin: 10px">
						<h3 class="admin-title">Document Data Setup</h3>
						<div class="table">
							<div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #E93578" class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/documenttype">Types</a></h4>
											Create, Edit document types used by the document management module. This may be Service Level Agreements, Correpondence, Performance Reports
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #4C7A34" class="glyphicon glyphicon-link" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4>Groups</h4>
											Document groups help you add another level of grouping to your documents within the document management module. Use this section to 
											create and manage document categories used by the document management system
										</div>
									</div>
								</div>
								<div></div>
							</div>
						</div>
					</div>
					
					<div style="margin: 10px">
						<h3 class="admin-title">Extras</h3>
						<div class="table">
							<div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #E93578" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/notetype">Note Type</a></h4>
											Manage the notes are handled within the system. Create and edit note types.
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #1464F6" class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4>Calendar Events</h4>
											Calendar event management. Manage the automated alert service, when the alert service should run, which event types are permitted.
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #1464F6" class="glyphicon glyphicon-stats" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4>Audit Log</h4>
											Manage what actions are to be audited within the system. Enable/disable module audit logs
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #E93578" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4>Address Types</h4>
											Create and amend address types used to classify different types of addresses used with Contacts within the sysem
										</div>
									</div>
								</div>
								<div class="cell-hover">
									<div class="adminpanel">
										<div class="vcenter adminavatar">
											<div class="hcentre"><span style="font-size: 50px; color: #1464F6" class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
										</div>
										<div>
											<h4><a href="#/status">Status</a></h4>
											Manage statuses used within the system. Such as Task status, Document status
										</div>
									</div>
								</div>
								<div></div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div ng-include = "'viewsie8/main-app-footer.html'"></div>
