<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<style>
<!--

-->

table.audit-body-table {
	width: 100%;
}
table.note-body-table tr:first-child > td {
	padding-bottom: 5px;
}

table.note-body-table tr:last-child > td {
	border-top: 1px dotted #cccccc;
	padding-top: 5px;
}

.btnStyle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #208fd4 2px;
  text-decoration: none;
}

.btnStyle:hover {
  background: #3cb0fd;
  text-decoration: none;
}

</style>
	
	<div ng-controller="auditController">
		<div style="margin: 10px; clear: both">
            <div ng-show="false">
				<!-- General Info -->
				<div id="general-section" style="overflow: auto;">
			        <div style="background: #efefef" class="modal-header">
			          <button type="button" class="close" ng-click="closeNoteDialog()">&times;</button>
			          <h4 class="modal-title">{{ noteAction }} Note</h4>
			        </div>
					<div role="header">
					<div style="margin: 5px; overflow: auto;">
						<div class="form-control" align="right"
							style="float: left; width: 10%; border: 0; box-shadow: none;">Type*:</div>
						<div style="float: right; width: 90%;">
						<select class="form-control" id="enabled" name="enabled" ng-model="note.type.id">
							<option>Please select</option>
							<option ng:repeat="type in noteTypes" ng-selected="type.id == note.type.id" value="{{type.id}}">{{type.name}}</option>
						</select>
						</div>
					</div>									
					<div style="margin: 5px; overflow: auto;">
						<div class="form-control" align="right"
							style="float: left; width: 10%; border: 0; box-shadow: none;">Header*:</div>
						<div style="float: right; width: 90%;">
							<input class="form-control" id="firstName" ng-model="note.header"/>
						</div>
					</div>

					<div style="margin: 5px; overflow: auto;">
						<div class="form-control" align="right"
							style="float: left; width: 10%; border: 0; box-shadow: none;">Detail:</div>
						<div style="float: right; width: 90%;">
							<textarea class="form-control" cols="40" rows="5" placeholder="Optional" ng-model="note.detail"></textarea>
						</div>
					</div>
				</div>
			</div>
		       <div style="background: #efefef; margin: 0px;" class="modal-footer">				          
				  <button ng-click="saveNote()" type="button" class="btn btn-primary">Save</button>        
		          <button ng-click="closeNoteDialog()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        </div>
			</div>
		</div>
		<div id="notesHeader">

			<div style="float: left">
				<h3>Audit Log</h3>
			</div>
			<div style="display: table; float: right;">
				<div style="display: table-row">
					<div style="display: table-cell; padding: 5px">
						<input class="form-control" id="searchAudit" ng-model = "searchAudits" placeholder="Filter field data"/>
					</div>
					<div style="display: table-cell; padding: 5px">
						<button class="btnStyle" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
						        Prev
						    </button>
						    <span ng-if="audits!=0">{{currentPage+1}}/{{numberOfPages()}}</span>
						    <button class="btnStyle" ng-disabled="currentPage >= audits.length/pageSize - 1" ng-click="currentPage=currentPage+1">
						        Next
						    </button>
					</div>
					<div style="display: table-cell;">
						<h3>
							<button ng-click="loadAudits()" type="button" title="Refresh"
								class="btn btn-primary glyphicon glyphicon-refresh"></button>
							<button ng-click="" type="button" title="Settings"
								class="btn btn-primary glyphicon glyphicon-cog"></button>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="data-table" style="clear: both; width: 100%">
			<table class="table table-hover data-table data-table-header">
				<thead>
					<tr>
						<td width="1%">Date</td>
						<td width="1%">Module</td>
						<td width="1%">Action</td>
						<td>Description</td>
						<td width="10%">User</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-hide="auditsLoaded">
						<td><img src="../images/loading-spinner.gif"/>Loading&nbsp;audit...</td>
						<td></td><td></td><td></td><td></td>
					</tr>
					<tr ng-show="auditsLoaded" ng-class="{'data-table-row-select' : audit.id === item.id}" ng-repeat="item in audits | filter:searchAudits |  orderBy:'created':true  | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="setSelectedAudit(item.id)">
						<td>{{item.created | date:"dd/MM/yyyy HH:mm:ss"}}</td>
						<td>{{item.module.value}}</td>
						<td>{{item.action.value}}</td>
						<td>
							<table class="audit-body-table">
								<tr><td>{{item.description}}</td></tr>
								<tr ng-show="audit.id === item.id && (item.from != null || item.to != null)"><td class="audit-detail"><b>From:</b> {{item.from}}</td></tr>
								<tr ng-show="audit.id === item.id && (item.from != null || item.to != null)"><td class="audit-detail"><b>To:</b> {{item.to}}</td></tr>
							</table>
						</td>
						<td>{{item.user.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>