<!DOCTYPE html>
<meta charset="ISO-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!-- jQuery library -->
<link rel="stylesheet" type="text/css"
	href="../styles/jquery-ui.min.css">
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<!-- JQuery Auto Complete -->
<link rel="stylesheet" type="text/css" href="../styles/autocomplete.css">
<script type="text/javascript"
	src="../lib/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="../js/autocomplete.js"></script>
<!-- //JQuery Auto Complete -->

<link href='../styles/fullcalendar.css' rel='stylesheet' />
<link href='../styles/fullcalendar.print.css' rel='stylesheet'
	media='print' />
<script src='../lib/moment.min.js'></script>
<script src='../lib/fullcalendar.min.js'></script>

<script src='../js/util.js'></script>

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/contract.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<link href="../styles/tabs.css" rel="stylesheet" type="text/css" />

<script src="../js/tabs.js"></script>



<title>Contractic - Professional Contract Management</title>

<style>
table.note-body-table {
	width: 100%;
}

table.note-body-table tr:first-child>td {
	padding-bottom: 5px;
}

table.note-body-table tr:last-child>td {
	border-top: 1px dotted #cccccc;
	padding-top: 5px;
}

div.values-input>div>div {
	margin: 2px;
	padding: 2px;
}

.btnStyle {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 11px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border: solid #208fd4 2px;
	text-decoration: none;
}

.btnStyle:hover {
	background: #3cb0fd;
	text-decoration: none;
}

.glyphicon-arrow-up:hover {
	-webkit-box-shadow: 0 0 10px blue;
}

.glyphicon-arrow-down:hover {
	-webkit-box-shadow: 0 0 10px red;
}

.OuterExt {
	
}

.InnerExt {
	padding: 6px;
}

.InnerExtDropDwn {
	padding: 2px;
}

.InnerExtButton {
	padding: 2px;
}

input:read-only {
	background-color: #fff;
}

input-moz-read-only {
	background-color: #fff;
}
</style>

<script>
/* $(document).ready(function(){
	$("#addTaskContact").click(function(){
		copyHtml("#contactDetail", "#contactDetail div:nth-child(1)");
	  });
}); */


$(document).ready(function() {
    $(".numberCheck").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 188, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
             // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
             // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
});

</script>

<div id="body" ng-controller="contractAddEditController">

	<!-- Common main application header -->
	<div ng-include="'viewsie8/main-app-header.html'"></div>

	<!-- Content -->
	<div id="content" style="clear: both; overflow: auto;">
		<!-- Left menu -->
		<div ng-include="'viewsie8/main-left-menu.html'"
			onload="menulink = 'contracts'"></div>

		<!-- Dashboard -->
		<div id="dashboard"
			style="margin: 2px; overflow: hidden; width: auto;">
			<!-- toolbar -->
			<div id="toolbar" style="padding: 10px;">
				<div style="display: table-cell">
				<button ng-click="contractList()" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-circle-arrow-left"
						aria-hidden="true"></span> Contract List
				</button>
				</div>

				<div style="display: table-cell; color: #009900" ng-show="contract.id">
					<h4>{{contract.reference}} - {{contract.title}}</h4>
				</div>
			</div>


			<!-- Alerts -->
			<div ng-show="alert.body" class="response-alert"
				ng-class="{ 'response-alert-danger' : alert.type == AlertType.ERROR , 'response-alert-success' : alert.type == AlertType.OK}">
				<button ng-click="alert={}" type="button" class="close"
					data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
				<span role="type"><strong>{{alert.type}}!</strong></span> <span
					role="body">{{alert.body}}</span>
			</div>

			<!-- Panels -->
			<div  class="contract-tabs" style="clear: both;">

					<div id=tabBar>
						<table class="tabs"
							ng-show="contract.id != null && contract.id!=''">
							<tr>
								<td ng-click="loadHeader()" class="tab tab-current"
									data-tab="generalTab">
									<span class="tab-icon glyphicon glyphicon-header"
									aria-hidden="true"></span>General
								</td>
								<td ng-click="loadDetails()" class="tab" data-tab="detailTab">
									<span class="tab-icon glyphicon glyphicon-expand"
									aria-hidden="true"></span>Detail
								</td>
								<td ng-click="loadSummary()" class="tab" data-tab="summaryTab">
									<span class="tab-icon glyphicon glyphicon-list"
									aria-hidden="true"></span>Summary
								</td>
								<td ng-click="loadCCN()" class="tab" data-tab="ccnTab">
									<span class="tab-icon glyphicon glyphicon-transfer"
									aria-hidden="true"></span>CCN
								</td>
								<td ng-click="loadTasks()" class="tab" data-tab="calendarTab">
									<span class="tab-icon glyphicon glyphicon-calendar"
									aria-hidden="true"></span>Calendar
								</td>
								<td ng-click="loadDocuments()" class="tab" data-tab="documentTab">
									<span class="tab-icon glyphicon glyphicon-duplicate"
									aria-hidden="true"></span>Documents
								</td>
								<td ng-click="loadNotes()" class="tab" data-tab="noteTab">
									<span class="tab-icon glyphicon glyphicon-comment"
									aria-hidden="true"></span>Notes
								</td>
								<td ng-click="loadAudit()" class="tab" data-tab="auditTab"><span
									class="tab-icon glyphicon glyphicon-list"
									aria-hidden="true"></span>Audit
								</td>
								<td class="tab-last">&nbsp;</td>
							</tr>
						</table>
					</div>

					<!-- General Tab -->
					<div id="generalTab" class="tab-content current">

						<div>
							<h3>General Information</h3>
							<!-- General Info -->
							<div id="general-section"
								style="overflow: auto; width: 70%; margin: 10px">

								<form name="userForm" novalidate action="">

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Title*:</div>
										<div class="form-group" style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.middleName.$dirty || userFormSubmitted) && userForm.middleName.$error.required }">
											<input type="text" class="form-control" id="middleName"
												name="middleName" ng-model="contract.title" required>
											<!--<p ng-show="userForm.middleName.$touched && userForm.middleName.$error.minlength" class="help-block">Title is too short.</p>
  												<p ng-show="userForm.middleName.$touched && userForm.middleName.$error.maxlength" class="help-block">Title is too long.</p> -->
											<p
												ng-show="(userForm.middleName.$dirty || userFormSubmitted) && userForm.middleName.$error.required"
												class="help-block">Title is required.</p>
										</div>
									</div>



									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Type*:</div>
										<div class="form-group" style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.type.$dirty || userFormSubmitted) && userForm.type.$error.required }">
											<select class="form-control" id="gender" name="type"
												ng-model="contract.type.id" required
												ng-init="type = contractTypes[0].id">
												<option value="">Please select type</option>
												<option ng:repeat="type in contractTypes"
													value="{{type.id}}">{{type.name}}</option>
											</select>
											<p
												ng-show="(userForm.type.$dirty || userFormSubmitted) && userForm.type.$error.required"
												class="help-block">Type is required.</p>
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Procedure*:</div>
										<div style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.procType.$dirty || userFormSubmitted) && userForm.procType.$error.required}">
											<select class="form-control" id="gender" name="procType"
												ng-model="contract.procedure.id" required>
												<option value="">Please select procedure</option>
												<option ng:repeat="item in procedures" value="{{item.id}}"
													ng-selected="contract.procedure.id == item.id">{{item.name}}</option>
											</select>
											<p
												ng-show="(userForm.procType.$dirty || userFormSubmitted) && userForm.procType.$error.required"
												class="help-block">Procedure is required.</p>
										</div>
									</div>


									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Reference*:</div>
										<div class="form-group" style="float: right; width: 90%;">
											<input type="text" class="form-control"
												ng-model="contract.reference"
												placeholder="Leave blank to autogenerate">
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Description*:</div>
										<div class="form-group" style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.text1.$dirty || userFormSubmitted) && userForm.text1.$error.required}">
											<textarea type="text" class="form-control" name="text1"
												cols="40" rows="5" ng-model="contract.description" required></textarea>
											<p
												ng-show="(userForm.text1.$dirty || userFormSubmitted) && userForm.text1.$error.required"
												class="help-block">Description is required.</p>
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Department*:</div>
										<div style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.depType.$dirty || userFormSubmitted) && userForm.depType.$error.required}">
											<select class="form-control" id="gender" name="depType"
												ng-model="contract.department.id" required>
												<option value="">Please select department</option>
												<option ng:repeat="item in departments" value="{{item.id}}"
													ng-selected="contract.department.id == item.id">{{item.name}}</option>
											</select>
											<p
												ng-show="(userForm.depType.$dirty || userFormSubmitted) && userForm.depType.$error.required"
												class="help-block">Department is required.</p>
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Supplier*:</div>
										<div class="form-group" style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.supplier.$dirty || userFormSubmitted) && userForm.supplier.$error.required }">
											<input class="form-control" id="supplierName" name="supplier"
												ng-model="contract.supplier.value"
												placeholder="Type to search" required>
											<p
												ng-show="(userForm.supplier.$dirty || userFormSubmitted) && userForm.supplier.$error.required"
												class="help-block">Supplier is required.</p>
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Initial&nbsp;Start*:</div>
										<div style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.initial_start.$dirty || userFormSubmitted) && userForm.initial_start.$error.required }">
											<input readonly class="form-control" id="startDate"
												name="initial_start" ng-model="contract.startDate"
												datepicker style="background-color: white;" required>
											<p
												ng-show="(userForm.initial_start.$dirty || userFormSubmitted) && userForm.initial_start.$error.required"
												class="help-block">Initial start date is required.</p>
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;"
										ng-class="{ 'has-error' : userFormSubmitted && oneOffPurchase===false && (contract.term.length == 0 || contract.term[0].period === null) }">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">&nbsp;</div>
										<div style="float: right; width: 90%;" class="checkbox">
											<label> <input type="checkbox"
												ng-model="oneOffPurchase"> One off purchase
											</label>
										</div>
										<div style="float: right; width: 90%;"
											ng-hide="oneOffPurchase">
											<div ng-show="extAlert.body" class="response-alert">
												<button ng-click="extAlert.body=null" type="button"
													class="close" data-dismiss="alert">
													<span aria-hidden="true">&times;</span>
												</button>
												<span role="type"><strong>{{extAlert.type}}!</strong></span>
												<span role="body">{{extAlert.body}}</span> <span
													ng-show="extAlert.type=='WARNING'"><span
													ng-click="removeTerm(extIndex)" class="open-item">Yes</span>&nbsp;<span
													ng-click="extAlert.body=null" class="open-item">No</span></span>
											</div>
											<span style="color: #3366cc"><b>Contract Term and Optional Extension()s)</b></span>
											<div class="table">
												<div class="OuterExt">
													<div class="InnerExt"
														ng-class="{ 'has-error' : (userForm.initialPeriod.$dirty || userFormSubmitted) && userForm.initialPeriod.$error.required }">
														<input type="text" name="initialPeriod"
															ng-model="term.period.term.properties.period.cycle.value"
															placeholder="Term" />
													</div>
													<div class="InnerExtDropDwn">
														<select class="form-control"
															ng-model="term.period.term.properties.period.cycle.frequency">
															<option ng-repeat="cycle in cycles"
																ng-selected="cycle.id == term.period.term.properties.period.cycle.frequency"
																value="{{cycle.id}}" ng-if="cycle.id != 'Q'">{{cycle.value}}</option>
														</select>
													</div>
													<div class="InnerExt">
														<input type="text"
															ng-model="term.notice.term.properties.period.cycle.value"
															placeholder="Notice" />
													</div>
													<div class="InnerExtDropDwn">
														<select class="form-control"
															ng-model="term.notice.term.properties.period.cycle.frequency">
															<option ng-repeat="cycle in cycles"
																ng-selected="cycle.id == term.notice.term.properties.period.cycle.frequency"
																value="{{cycle.id}}" ng-if="cycle.id != 'Q'">{{cycle.value}}</option>
														</select>
													</div>
													<div class="InnerExt">
														<input type="text"
															ng-model="term.gotomarket.term.properties.period.cycle.value"
															placeholder="Go to Market" />
													</div>
													<div class="InnerExtDropDwn">
														<select class="form-control"
															ng-model="term.gotomarket.term.properties.period.cycle.frequency">
															<option ng-repeat="cycle in cycles"
																ng-selected="cycle.id == term.gotomarket.term.properties.period.cycle.frequency"
																value="{{cycle.id}}" ng-if="cycle.id != 'Q'">{{cycle.value}}</option>
														</select>
													</div>
													<div class="InnerExtButton">
														<button ng-click="addTerm()" type="button"
															title="Add new extension"
															class="btn btn-default glyphicon glyphicon-plus"></button>
													</div>
												</div>
											</div>
											<div
												style="clear: both; margin: 0px 5px 5px 5px; overflow: auto; max-height: 150px">
												<table class="table table-hover panel-data"
													style="width: 100%; table-layout: fixed;">
													<thead>
														<tr>
															<td style="width: 10px" align="center"><input
																type="checkbox" /></td>
															<td style="width: 30px">&nbsp;</td>
															<td>Term</td>
															<td>Notice</td>
															<td>Go to Market</td>
															<td style="width: 30px" align="center">&nbsp;</td>
															<td style="width: 30px">&nbsp;</td>
															<td style="width: 30px">&nbsp;</td>
															<td style="width: 30px">&nbsp;</td>
															<td style="width: 30px">&nbsp;</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="item in contract.term track by $index"
															ng-class="{'data-table-row-select' : term.id!=null && term.id === item.id}"
															ng-mouseover="termHoverIn(item)"
															ng-mouseleave="termHoverOut()">
															<td style="width: 10px" align="center"><input
																id="{{item.id}}"
																ng-checked="term.id!=null && term.id === item.id"
																type="checkbox" /></td>
															<td style="width: 30px">{{ $index+1 }}</td>
															<td>{{
																item.period.term.properties.period.cycle.value }} {{
																item.period.term.properties.period.cycle.frequency |
																period }}</td>
															<td>{{
																item.notice.term.properties.period.cycle.value }} {{
																item.notice.term.properties.period.cycle.frequency |
																period }}</td>
															<td>{{
																item.gotomarket.term.properties.period.cycle.value }} {{
																item.gotomarket.term.properties.period.cycle.frequency |
																period }}</td>
															<td style="width: 30px" align="center"><input
																ng-model="item.period.term.properties.active"
																type="checkbox" /></td>
															<td style="width: 30px"><span
																class="open-item edit glyphicon glyphicon-pencil"
																aria-hidden="true"
																ng-show="hoveredTerm!=null && hoveredTerm.id == item.id"
																ng-click="editTerm(item)" title="Edit term"></span></td>
															<td style="width: 30px"><span
																class="open-item remove glyphicon glyphicon-remove"
																aria-hidden="true"
																ng-show="hoveredTerm!=null && hoveredTerm.id == item.id"
																ng-click="alertTerm($index)" title="Remove term"></span></td>
															<td width="1%"><span
																class="remove glyphicon glyphicon-arrow-up"
																aria-hidden="true"
																ng-show="hoveredTerm!=null && hoveredTerm.id == item.id"
																ng-click="moveTermUp($index)" title="Move term up"></span></td>
															<td width="1%"><span
																class="remove glyphicon glyphicon-arrow-down"
																aria-hidden="true"
																ng-show="hoveredTerm!=null && hoveredTerm.id == item.id"
																ng-click="moveTermDown($index)" title="Move term down"></span></td>
														</tr>
													</tbody>

												</table>
											</div>
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Manager*:</div>
										<div class="form-group" style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.manager.$dirty || userFormSubmitted) && userForm.manager.$error.required}">
											<input class="form-control" id="personName" name="manager"
												ng-model="contract.owner.value" placeholder="Type to search"
												required>
											<p
												ng-show="(userForm.manager.$dirty || userFormSubmitted) && userForm.manager.$error.required"
												class="help-block">Manager is required.</p>
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Initial&nbsp;Value*:</div>
										<div class="form-group form-inline" style="float: left;"
											ng-class="{ 'has-error' : (userForm.initialValue.$dirty || userFormSubmitted) && userForm.initialValue.$error.required}">
											<table>
												<tr>
													<td><input class="form-control col-xs-2"
														name="initialValue" ng-model="contract.initialValue"
														required /></td>
													<td><select class="form-control input-small"
														name="currency" ng-model="contract.valueUOM" required>
															<option value="">Select</option>
															<option
																ng:repeat="currency in currencies | orderBy : ['value', 'id']"
																ng-selected="currency.id == contract.valueUOM"
																value="{{currency.id}}">{{currency.value + '('
																+ currency.id + ')'}}</option>
													</select></td>

												</tr>
											</table>


											<p
												ng-show="(userForm.initialValue.$dirty || userFormSubmitted) && userForm.initialValue.$error.required"
												class="help-block">Initial value is required.</p>
										</div>
									</div>

									<div style="margin: 5px; overflow: auto;">
										<div class="form-control" align="right"
											style="float: left; width: 10%; border: 0; box-shadow: none;">Status*:</div>
										<div class="form-group" style="float: right; width: 90%;"
											ng-class="{ 'has-error' : (userForm.status.$dirty || userFormSubmitted) && userForm.status.$error.required}">
											<select class="form-control" id="gender" name="status"
												ng-model="contract.status.id"
												ng-init="type = statuses[0].id" required>
												<option value="">Please select status</option>
												<option ng:repeat="status in statuses"
													ng-selected="status.id == contract.status.id"
													value="{{status.id}}">{{status.name}}</option>
											</select>
											<p
												ng-show="(userForm.status.$dirty || userFormSubmitted) && userForm.status.$error.required"
												class="help-block">Status is required.</p>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div
							style="padding: 30px 0px 30px 0px; clear: both; text-align: center; width: 70%;"
							class="table">
							<div>
								<div>
									<button ng-disabled="contractLoaded === false" ng-click="saveContractReturn()" type="button"
										class="btn btn-primary btn-lg btn-block no-radius">Save
										and Return</button>
								</div>
								<div>
									<button ng-disabled="contractLoaded === false" ng-click="saveContractContinue()" type="button"
										class="btn btn-default btn-lg btn-block no-radius"
										data-dismiss="modal">Save and Continue</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Details Tab -->
					<div id="detailTab" class="tab-content">
						<div style="width: 100%; float: left;">
							<div ng-show="showDetailDialog"
								style="margin-top: 10px; border: 1px solid #efefef; clear: both">
								<div>
									<!-- General Info -->
									<div id="general-section" style="overflow: auto;">
										<form name="detailForm" novalidate action="">
											<div style="background: #efefef" class="modal-header">
												<button type="button" class="close"
													ng-click="closeDetailDialog()">&times;</button>
												<h4 class="modal-title">{{ detailAction }} Detail</h4>
											</div>

											<div role="header">

												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 10%; border: 0; box-shadow: none;">Name*</div>
													<div class="form-group" style="float: right; width: 90%;"
														ng-class="{ 'has-error' : (detailForm.detail_name.$dirty || detailFormSubmitted) && detailForm.detail_name.$error.required}">
														<input type="text" class="form-control" id="detailName"
															name="detail_name" ng-model="detail.name"
															ng-minlength="2" ng-maxlength="50" required />
														<!-- <p ng-show="detailForm.detail_name.$touched && detailForm.detail_name.$error.minlength" class="help-block">Name is too short.</p>
															<p ng-show="detailForm.detail_name.$touched && detailForm.detail_name.$error.maxlength" class="help-block">Name is too long.</p> -->
														<p
															ng-show="(detailForm.detail_name.$dirty || detailFormSubmitted) && detailForm.detail_name.$error.required"
															class="help-block">Name is required.</p>
													</div>
												</div>

												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 10%; border: 0; box-shadow: none;">Description</div>
													<div class="form-group" style="float: right; width: 90%;">
														<textarea class="form-control" id="detailDescription"
															cols="40" rows="4" ng-model="detail.description"></textarea>
													</div>
												</div>
												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 10%; border: 0; box-shadow: none;">Value*</div>
													<div class="form-group" style="float: right; width: 90%;"
														ng-class="{ 'has-error' : (detailForm.detail_value.$dirty || detailFormSubmitted) && detailForm.detail_value.$error.required }">
														<textarea class="form-control" id="detailValue"
															name=detail_value cols="40" rows="7"
															ng-model="detail.text" required></textarea>
														<p
															ng-show="(detailForm.detail_value.$dirty || detailFormSubmitted) && detailForm.detail_value.$error.required"
															class="help-block">Value is required.</p>
													</div>
												</div>
												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 10%; border: 0; box-shadow: none;">Group</div>
													<div class="form-group" style="float: right; width: 90%;">
														<input class="form-control" id="contractDetailGroup"
															name="contract_DetailGroup" ng-model="detail.group.value" />
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div style="background: #efefef; margin: 0px;"
									class="modal-footer">
									<button ng-click="saveDetail()" type="button"
										class="btn btn-primary">Save</button>
									<button ng-click="closeDetailDialog()" type="button"
										class="btn btn-default">Cancel</button>
								</div>
							</div>
						</div>
						<div id="notesHeader">

							<div style="float: left">
								<h3>Contract Bespoke Detail</h3>
							</div>
							<div style="display: table; float: right;">
								<div style="display: table-row">
									<div style="display: table-cell; padding: 5px">
										<input class="form-control" id="middleName" name="middleName"
											ng-model="searchContractDetails"
											placeholder="Filter field data">
									</div>
									<div style="display: table-cell; padding: 5px">
										<button class="btnStyle"
											ng-disabled="currentBespokeDetailPage <= 0"
											ng-click="currentBespokeDetailPage=currentBespokeDetailPage-1">
											Prev</button>
										<span ng-if=details!=0>{{currentBespokeDetailPage+1}}/{{numberOfBespokeDetailPages()}}</span>
										<button class="btnStyle"
											ng-disabled="details.length == 0 || currentBespokeDetailPage >= details.length/bespokeDetailPageSize - 1"
											ng-click="currentBespokeDetailPage=currentBespokeDetailPage+1">
											Next</button>
									</div>
									<div style="display: table-cell;">
										<h3>
											<button ng-click="addDetail()" type="button"
												title="Add new detail" id="Note"
												class="btn btn-primary glyphicon glyphicon-plus"></button>
											<button ng-click="editDetail()" type="button"
												title="Edit selected detail" id="editNote"
												class="btn btn-primary glyphicon glyphicon-edit"></button>
											<button ng-click="deleteDetail()" type="button"
												title="Delete selected detail" id="editNote"
												class="btn btn-danger glyphicon glyphicon-remove"></button>
										</h3>
									</div>
								</div>
							</div>
						</div>

						<div class="data-table" style="clear: both; width: 100%">
							<table class="table table-hover panel-data" style="width: 100%;">
								<thead>
									<tr>
										<td width="1%"></td>
										<td width="20%">Field&nbsp;Name</td>
										<td>Field&nbsp;Description</td>
										<td>Field&nbsp;Value</td>
										<td width="10%">Field&nbsp;Group</td>
										<td width="1%"></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-hide="detailsLoaded">
										<td>Loading details...</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr ng-show="detailsLoaded"
										ng-class="{'data-table-row-select' : detail.id === item.id}"
										ng-repeat="item in details | filter:searchContractDetails | startFrom:currentBespokeDetailPage*bespokeDetailPageSize | limitTo:bespokeDetailPageSize"
										ng-click="setSelectedDetail(item)">
										<td align="center"><input id="{{item.id}}"
											ng-checked="detail.id === item.id" type="checkbox" /></td>
										<td>{{ item.name }}</td>
										<td>{{ item.description }}</td>
										<td>{{ item.text }}</td>
										<td>{{ item.group.value }}</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Summary Tab -->
					<div id="summaryTab" class="tab-content">
						<div style="width: 100%; float: left;">

							<div ng-show="showSummaryDialog"
								style="margin-top: 10px; border: 1px solid #efefef; clear: both">
								<div>
									<!-- General Info -->
									<div id="general-section" style="overflow: auto;">
										<form name="summaryForm" novalidate action="">
											<div style="background: #efefef" class="modal-header">
												<button type="button" class="close"
													ng-click="closeSummaryDialog()">&times;</button>
												<h4 class="modal-title">{{ summaryAction }} Summary</h4>
											</div>
											<div role="header">
												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 20%; border: 0; box-shadow: none;">Section*</div>
													<div class="form-group" style="float: right; width: 80%;"
														ng-class="{ 'has-error' : (summaryForm.contractSummaryValue_id.$dirty || summaryFormSubmitted) && summaryForm.contractSummaryValue_id.$error.required }">
														<input type="text" class="form-control"
															id="contractSummaryValue" name="contractSummaryValue_id"
															ng-model="summary.name" required />
														<p
															ng-show="(summaryForm.contractSummaryValue_id.$dirty || summaryFormSubmitted) && summaryForm.contractSummaryValue_id.$error.required"
															class="help-block">Section is required.</p>
													</div>
												</div>

												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 20%; border: 0; box-shadow: none;">Summary*</div>
													<div class="form-group" style="float: right; width: 80%;"
														ng-class="{ 'has-error' : (summaryForm.contractSummaryValue_text.$dirty || summaryFormSubmitted) && summaryForm.contractSummaryValue_text.$error.required }">
														<textarea class="form-control" id="contractSummaryValue"
															name="contractSummaryValue_text" cols="40" rows="7"
															ng-model="summary.text" required></textarea>
														<p
															ng-show="(summaryForm.contractSummaryValue_text.$dirty || summaryFormSubmitted) && summaryForm.contractSummaryValue_text.$error.required"
															class="help-block">Summary is required.</p>
													</div>
												</div>
											</div>
										</form>
									</div>
									<div style="background: #efefef; margin: 0px;"
										class="modal-footer">
										<button ng-click="saveSummary()" type="button"
											class="btn btn-primary">Save</button>
										<button ng-click="closeSummaryDialog()" type="button"
											class="btn btn-default">Cancel</button>
									</div>
								</div>
							</div>

							<div id="notesHeader">

								<div style="float: left">
									<h3>Contract Summary</h3>
								</div>
								<div style="display: table; float: right;">
									<div style="display: table-row">
										<div style="display: table-cell; padding: 5px">
											<input class="form-control" id="filterSummary"
												ng-model="searchSummaries" placeholder="Filter field data">
										</div>
										<div style="display: table-cell; padding: 5px">
											<button class="btnStyle"
												ng-disabled="currentSummaryPage <= 0"
												ng-click="currentSummaryPage=currentSummaryPage-1">
												Prev</button>
											<span ng-if=summarys!=0>{{currentSummaryPage+1}}/{{numberOfSummaryPages()}}</span>
											<button class="btnStyle"
												ng-disabled="summarys.length == 0 || currentSummaryPage >= summarys.length/summaryPageSize - 1"
												ng-click="currentSummaryPage=currentSummaryPage+1">
												Next</button>
										</div>
										<div style="display: table-cell;">
											<h3>
												<button ng-click="addSummary()" type="button"
													title="Add new section summary"
													class="btn btn-primary glyphicon glyphicon-plus"></button>
												<button ng-click="editSummary()" type="button"
													title="Edit selected summary"
													class="btn btn-primary glyphicon glyphicon-edit"></button>
												<button ng-click="deleteSummary()" type="button"
													title="Delete selected summary"
													class="btn btn-danger glyphicon glyphicon-remove"></button>
											</h3>
										</div>
									</div>
								</div>
							</div>

							<div class="data-table" style="clear: both; width: 100%">
								<table class="table table-hover panel-data" style="width: 100%;">
									<thead>
										<tr>
											<td width="1%"></td>
											<td width="30%">Section&nbsp;Reference</td>
											<td>Description</td>
											<td width="1%"></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-hide="summaryLoaded">
											<td>Loading summary...</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr ng-show="summaryLoaded"
											ng-class="{'data-table-row-select' : summary.id === item.id}"
											ng-repeat="item in summarys | filter:searchSummaries | startFrom:currentSummaryPage*summaryPageSize | limitTo:summaryPageSize"
											ng-click="setSelectedSummary(item)">
											<td align="center"><input id="{{item.id}}"
												ng-checked="summary.id === item.id" type="checkbox" /></td>
											<td>{{ item.name }}</td>
											<td>{{ item.text }}</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- CCN Tab -->
					<div id="ccnTab" class="tab-content">
						<div style="width: 100%; float: left;">

							<div ng-show="showCCNDialog"
								style="margin-top: 10px; border: 1px solid #efefef; clear: both">
								<div>
									<!-- General Info -->
									<div id="general-section" style="overflow: auto;">
										<form name="ccnForm" novalidate action="">
											<div style="background: #efefef" class="modal-header">
												<button type="button" class="close"
													ng-click="closeCCNDialog()">&times;</button>
												<h4 class="modal-title">{{ ccnAction }} CCN</h4>
											</div>
											<div role="header">
												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 20%; border: 0; box-shadow: none;">Reference*</div>
													<div class="form-group" style="float: right; width: 80%;"
														ng-class="{ 'has-error' : (ccnForm.contract_CCN_value.$dirty || ccnFormSubmitted) && ccnForm.contract_CCN_value.$error.required }">
														<input type="text" class="form-control"
															id="contractCCNValue" name="contract_CCN_value"
															ng-model="ccn.ccn.reference" required />
														<p
															ng-show="(ccnForm.contract_CCN_value.$dirty || ccnFormSubmitted) && ccnForm.contract_CCN_value.$error.required"
															class="help-block">Reference is required.</p>
													</div>
												</div>
												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 20%; border: 0; box-shadow: none;">Effective
														From*</div>
													<div class="form-group" style="float: right; width: 80%;"
														ng-class="{ 'has-error' : (ccnForm.contract_CCN_from.$dirty || ccnFormSubmitted) && ccnForm.contract_CCN_from.$error.required}">
														<input type="text" class="form-control"
															id="contractCCNFrom" name="contract_CCN_from"
															ng-model="ccn.ccn.period.from" required datepicker />
														<p
															ng-show="(ccnForm.contract_CCN_from.$dirty || ccnFormSubmitted) && ccnForm.contract_CCN_from.$error.required"
															class="help-block">Effective to date is required.</p>
													</div>
												</div>
												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 20%; border: 0; box-shadow: none;">Effective
														To*</div>
													<div class="form-group" style="float: right; width: 80%;"
														ng-class="{ 'has-error' : (ccnForm.contract_CCN_to.$dirty || ccnFormSubmitted) && ccnForm.contract_CCN_to.$error.required }">
														<input type="text" class="form-control" id="contractCCNTo"
															name="contract_CCN_to" ng-model="ccn.ccn.period.to"
															required datepicker />
														<p
															ng-show="(ccnForm.contract_CCN_to.$dirty || ccnFormSubmitted) && ccnForm.contract_CCN_to.$error.required"
															class="help-block">Effective to date is required.</p>
													</div>
												</div>
												<div style="margin: 5px; overflow: auto;">
													<div class="form-control" align="right"
														style="float: left; width: 20%; border: 0; box-shadow: none;">Description*</div>
													<div class="form-group" style="float: right; width: 80%;"
														ng-class="{ 'has-error' : (ccnForm.CCN_description.$dirty || ccnFormSubmitted) && ccnForm.CCN_description.$error.required }">
														<textarea class="form-control" id="contractCCNValue"
															name="CCN_description" cols="40" rows="7"
															ng-model="ccn.ccn.value" required></textarea>
														<p
															ng-show="(ccnForm.CCN_description.$dirty || ccnFormSubmitted) && ccnForm.CCN_description.$error.required"
															class="help-block">Description is required.</p>
													</div>
												</div>
											</div>
										</form>
									</div>
									<div style="background: #efefef; margin: 0px;"
										class="modal-footer">
										<button ng-click="saveCCN()" type="button"
											class="btn btn-primary">Save</button>
										<button ng-click="closeCCNDialog()" type="button"
											class="btn btn-default">Cancel</button>
									</div>
								</div>
							</div>

							<div id="notesHeader">

								<div style="float: left">
									<h3>Contract CCN</h3>
								</div>
								<div style="display: table; float: right;">
									<div style="display: table-row">
										<div style="display: table-cell; padding: 5px">
											<input class="form-control" id="filterCCN"
												ng-model="searchCCN" placeholder="Filter field data">
										</div>
										<div style="display: table-cell; padding: 5px">
											<button class="btnStyle" class="btnStyle"
												ng-disabled="currentCNNPage <= 0"
												ng-click="currentCNNPage=currentCNNPage-1">Prev</button>
											<span ng-if=ccns!=0>{{currentCNNPage+1}}/{{numberOfCCNPages()}}</span>
											<button class="btnStyle"
												ng-disabled="ccns.length == 0 || currentCNNPage >= ccns.length/ccnPageSize - 1"
												ng-click="currentCNNPagee=currentCNNPage+1">Next</button>
										</div>
										<div style="display: table-cell;">
											<h3>
												<button ng-click="addCCN()" type="button"
													title="Add new CCN"
													class="btn btn-primary glyphicon glyphicon-plus"></button>
												<button ng-click="editCCN()" type="button" title="Edit CCN"
													class="btn btn-primary glyphicon glyphicon-edit"></button>
												<button ng-click="deleteCCN()" type="button"
													title="Delete selected CCN"
													class="btn btn-danger glyphicon glyphicon-remove"></button>
											</h3>
										</div>
									</div>
								</div>
							</div>

							<div class="data-table" style="clear: both; width: 100%">
								<table class="table table-hover panel-data" style="width: 100%;">
									<thead>
										<tr>
											<td width="1%"></td>
											<td width="15%">Reference</td>
											<td width="10%">Effective&nbsp;From</td>
											<td width="10%">Effective&nbsp;To</td>
											<td>Description</td>
											<td width="1%"></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-hide="ccnLoaded">
											<td>Loading ccn...</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr ng-show="ccnLoaded"
											ng-class="{'data-table-row-select' : ccn.id === item.id}"
											ng-repeat="item in ccns | filter:searchCCN | startFrom:currentCNNPage*ccnPageSize | limitTo:ccnPageSize"
											ng-click="setSelectedCCN(item)">
											<td align="center"><input id="{{item.id}}"
												ng-checked="ccn.id === item.id" type="checkbox" /></td>
											<td>{{ item.ccn.reference }}</td>
											<td>{{ item.ccn.period.from | date:"dd/MM/yyyy" }}</td>
											<td>{{ item.ccn.period.to | date:"dd/MM/yyyy" }}</td>
											<td>{{ item.ccn.value }}</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- Calendar Tab -->
					<div id="calendarTab" class="tab-content">
						<div ng-show="showTaskDialog"
							style="margin-top: 10px; border: 1px solid #efefef; clear: both">
							<div>
								<!-- General Info -->
								<div id="general-section" style="overflow: auto;">
									<div style="background: #efefef" class="modal-header">
										<button type="button" class="close btn-primary"
											ng-click="closeTaskDialog()">&times;</button>
										<h4 class="modal-title">{{ calendarAction }}</h4>
									</div>
									<div>
										<div ng-include="'viewsie8/task.html'"></div>
									</div>
								</div>
								<div style="background: #efefef; margin: 0px;"
									class="modal-footer">
									<button ng-click="saveTask()" type="button"
										class="btn btn-primary">Save</button>
									<button ng-click="closeTaskDialog()" type="button"
										class="btn btn-default" data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</div>
						<div style="float: left">
							<h3>Contract Calendar</h3>
						</div>
						<div style="display: table; float: right;">
							<div style="display: table-row">
								<div style="display: table-cell; padding: 5px">
									<input class="form-control" id="middleName" name="middleName"
										ng-model="searchCalendar" placeholder="Filter field data">
								</div>
								<div style="display: table-cell; padding: 5px">
									<button class="btnStyle" ng-disabled="currentCalendarPage <= 0"
										ng-click="currentCalendarPage=currentCalendarPage-1">
										Prev</button>
									<span ng-if=tasks!=0>{{currentCalendarPage+1}}/{{numberOfCalendarPages()}}</span>
									<button class="btnStyle"
										ng-disabled="tasks.length == 0 || currentCalendarPage >= tasks.length/calendarPageSize - 1"
										ng-click="currentCalendarPage=currentCalendarPage+1">
										Next</button>
								</div>
								<div style="display: table-cell;">
									<h3>
										<button ng-click="createTask()" type="button"
											title="Add new section document"
											class="btn btn-primary glyphicon glyphicon-plus"></button>
										<button ng-click="editTask()" type="button"
											title="Edit selected document"
											class="btn btn-primary glyphicon glyphicon-edit"></button>
										<button ng-click="deleteTask()" type="button"
											title="Delete selected document"
											class="btn btn-danger glyphicon glyphicon-remove"></button>
									</h3>
								</div>
							</div>
						</div>
						<div style="clear: both;">
							<table
								class="table table-hover panel-data data-table data-table-header"
								style="width: 100%;">
								<thead>
									<tr>
										<!-- The button to toggle display of child tasks -->
										<td style="width: 1%" align="center"><input
											id="selectAll" type="checkbox" /></td>
										<td style="width: 1%"></td>
										<td style="width: 1%">#</td>
										<td>Task</td>
										<td>Assignee</td>
										<td>Start Date</td>
										<td>Due Date</td>
										<td>Status</td>
										<td>Parent</td>
										<td style="width: 1%"></td>
										<td style="width: 1%"></td>
										<td style="width: 1%"></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-hide="tasksLoaded">
										<!-- The parent id if this task has one -->
										<td>Loading&nbsp;tasks...</td>
										<!-- The button to toggle display of child tasks -->
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr
										ng-class="{ 'parenttask': item.children == true, 'subtask': item.children == false, 'data-table-row-select' : task.id === item.id }"
										id="{{item.id}}"
										ng-hide="!tasksLoaded || (item.parentNumber!=null && loadedSubTaskParent[item.parentNumber]!=null && loadedSubTaskParent[item.parentNumber].expanded===false)"
										ng-repeat="item in tasks | orderBy: 'startDate' " ng-click="setSelectedTask(item)">

										<td width="1%" align="center"><input id="{{item.id}}"
											ng-checked="task.id === item.id" type="checkbox" /></td>
										<td><span ng-show="item.children == true"
											ng-class="{'glyphicon glyphicon-plus-sign' : loadedSubTaskParent[item.number].expanded==null || loadedSubTaskParent[item.number].expanded===false, 'glyphicon glyphicon-minus-sign' : loadedSubTaskParent[item.number].expanded===true}"
											aria-hidden="true" ng-click="showSubTasks($index)"></span></td>
										<td>{{ item.number | indentTask: item.parentNumber:this}}</td>
										<td>{{ item.title }}</td>
										<td>{{ item.person.value }}</td>
										<td>{{ item.startDate | date:"dd/MM/yyyy" }}</td>
										<td>{{ item.endDate | date:"dd/MM/yyyy" }}</td>
										<td>{{ item.status.value }}</td>
										<td>{{ item.parentNumber }}</td>
										<td></td>
										<td></td>
										<td><span ng-show="item.repeat != null"
											class="glyphicon glyphicon-time" data-toggle="tooltip"
											data-placement="bottom" title="Has timed alerts"
											aria-hidden="true"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Documents Tab -->
					<div id="documentTab" class="tab-content">
						<div ng-show="showDocumentDialog"
							style="margin-top: 10px; border: 1px solid #efefef; clear: both">
							<div>
								<!-- General Info -->
								<div id="general-section" style="overflow: auto;">
									<form name="documentsForm" novalidate action="">
										<div style="background: #efefef" class="modal-header">
											<button type="button" class="close"
												ng-click="closeDocumentDialog()">&times;</button>
											<h4 class="modal-title">{{ documentAction }} Document</h4>
										</div>
										<div role="header">
											<div style="margin: 5px; overflow: auto;">
												<div class="form-control" align="right"
													style="float: left; width: 10%; border: 0; box-shadow: none;">&nbsp;</div>
												<div>
				<button  ngf-select ng-model="documentFile" name="documentFile" type="button" class="btn btn-primary"
					style="margin-right: 10px;">
					<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
					Select
				</button>
												</div>
											</div>
											<div style="margin: 5px; overflow: auto;">
												<div class="form-control" align="right"
													style="float: left; width: 10%; border: 0; box-shadow: none;">Type*:</div>
												<div class="form-group" style="float: right; width: 90%;"
													ng-class="{ 'has-error' : (documentsForm.doc_type_enabled.$dirty || documentsFormSubmitted) && documentsForm.doc_type_enabled.$error.required }">
													<select class="form-control" id="enabled"
														name="doc_type_enabled" ng-model="document.type.id"
														ng-init="type = documentTypes[0].id" required>
														<option value="">Please select type</option>
														<option ng:repeat="type in documentTypes"
															ng-selected="type.id == document.type.id"
															value="{{type.id}}">{{type.description}}</option>
													</select>
													<p
														ng-show="(documentsForm.doc_type_enabled.$dirty || documentsFormSubmitted) && documentsForm.doc_type_enabled.$error.required"
														class="help-block">Type is required.</p>
												</div>
											</div>




											<div style="margin: 5px; overflow: auto;">
												<div class="form-control" align="right"
													style="float: left; width: 10%; border: 0; box-shadow: none;">Title*</div>
												<div class="form-group" style="float: right; width: 90%;"
													ng-class="{ 'has-error' : (documentsForm.first_name.$dirty || documentsFormSubmitted) && documentsForm.first_name.$error.required }">
													<input type="text" class="form-control" id="firstName"
														name="first_name" ng-model="document.title" required>
													<p
														ng-show="(documentsForm.first_name.$dirty || documentsFormSubmitted) && documentsForm.first_name.$error.required"
														class="help-block">Title is required.</p>
												</div>
											</div>

											<div style="margin: 5px; overflow: auto;">
												<div class="form-control" align="right"
													style="float: left; width: 10%; border: 0; box-shadow: none;">Description:</div>
												<div style="float: right; width: 90%;">
													<textarea class="form-control" cols="40" rows="5"
														placeholder="Optional" ng-model="document.description"></textarea>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div style="background: #efefef; margin: 0px;"
									class="modal-footer">
									<button ng-click="saveDocument()" type="button"
										class="btn btn-primary">Save</button>
									<button ng-click="closeDocumentDialog()" type="button"
										class="btn btn-default" data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</div>
						<div id="documentHeader">
							<div style="float: left">
								<h3>Contract Documents</h3>
							</div>
							<div style="display: table; float: right;">
								<div style="display: table-row">
									<div style="display: table-cell; padding: 5px">
										<input class="form-control" id="middleName" name="middleName"
											ng-model="searchDocuments" placeholder="Filter field data">
									</div>
									<div style="display: table-cell; padding: 5px">
										<button class="btnStyle"
											ng-disabled="currentDocumentPage <= 0"
											ng-click="currentDocumentPage=currentDocumentPage-1">
											Prev</button>
										<span ng-if=documents!=0>{{currentDocumentPage+1}}/{{numberOfDocumentPages()}}</span>
										<button class="btnStyle"
											ng-disabled="documents.length == 0 || currentDocumentPage >= documents.length/documentPageSize - 1"
											ng-click="currentDocumentPage=currentDocumentPage+1">
											Next</button>

									</div>
									<div style="display: table-cell;">
										<h3>
											<button ng-click="createDocument()" type="button"
												title="Add new section document"
												class="btn btn-primary glyphicon glyphicon-plus"></button>
											<button ng-click="editDocument()" type="button"
												title="Edit selected document"
												class="btn btn-primary glyphicon glyphicon-edit"></button>
											<button ng-click="deleteDocument()" type="button"
												title="Delete selected document"
												class="btn btn-danger glyphicon glyphicon-remove"></button>
											<button ng-click="downloadDocument()" type="button"
												title="Download selected document"
												class="btn btn-default glyphicon glyphicon-download-alt"></button>
										</h3>
									</div>
								</div>
							</div>
						</div>
						<div style="width: 100%; float: left;">
							<table
								class="table table-hover panel-data data-table data-table-header"
								style="width: 100%;">
								<thead>
									<tr>
										<td width="1%" align="center"><input id="selectAll"
											type="checkbox" /></td>
										<td width="1%">&nbsp;</td>
										<td width="20%">File&nbsp;Name</td>
										<td>Title</td>
										<td width="20%">Description</td>
										<td width="10%">Modified</td>
										<td width="5%" align="right">Size</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-hide="documentsLoaded">
										<td style="width: 1%">Loading&nbsp;documents...</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr ng-show="documentsLoaded"
										ng-class="{'data-table-row-select' : document.id === item.id}"
										ng-repeat="item in documents | filter:searchDocuments | startFrom:currentDocumentPage*documentPageSize | limitTo:documentPageSize"
										ng-click="setSelectedDocument(item)">
										<td width="1%" align="center"><input id="{{item.id}}"
											ng-checked="document.id === item.id" type="checkbox" /></td>
										<td><img
											ng-src="{{fileicon[item.file.ext] || fileicon['default']}}" /></td>
										<td>{{ item.file.name }}</td>
										<td>{{ item.title }}</td>
										<td>{{ item.type.value }}</td>
										<td>{{ item.created | date:"dd/MM/yyyy HH:mm:ss" }}</td>
										<td align="right">{{ item.size | bytes }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Notes Tab -->
					<div id="noteTab" class="tab-content">
						<div ng-include="'viewsie8/note.html'"
							ng-init="moduleName = 'Contract'; externalId=contract.id;"
							onload="notify=noteHandler"></div>
					</div>

					<!-- Audit Tab -->
					<div id="auditTab" class="tab-content">
						<div ng-include="'viewsie8/audit.html'"
							ng-init="moduleName = 'Contract'; externalId=contract.id"></div>
					</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'viewsie8/main-app-footer.html'"></div>