
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<title>Contractic - Professional Contract Management</title>

	<div id="body" ng-controller="documentEditController">
		<!-- Common main application header -->
		<div ng-include = "'viewsie8/main-app-header.html'"></div>
		
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'viewsie8/main-left-menu.html'" onload="menulink = 'documents'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
				<!-- toolbar -->
				<div id="toolbar" style="padding: 10px;">
					<button ng-click="go('/documents')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
						Back
					</button>
				
					<button ng-click="savePerson()" type="button" class="btn btn-default" id="btnSave">
						<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						Save Changes
					</button>
		
					<div class="btn-group" role="group" style="margin-right: 10px;">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
							Notes <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#">View</a></li>
							<li><a data-toggle="modal" data-target="#noteDialog" href="#" onclick="return false;">New</a></li>
							<li><a href="#">Edit</a></li>
						</ul>
					</div>
		
					<div class="btn-group" role="group" style="margin-right: 10px;">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Delete <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="danger"><a href="#">Are you Sure??</a></li>
						</ul>
					</div>
		
					<button type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						Done
					</button>
				</div>
				<!-- Panels -->
				<div style="clear: both; margin: 5px;">
					
					<div class="bs-example">
					    <ul class="nav nav-tabs">
					        <li class="active"><a data-toggle="tab" href="#generalTab" onclick="return false;">General</a></li>
					        <li><a data-toggle="tab" ng-click="activeTab='Notes';loadNotes()" href="#noteTab" onclick="return false;">Notes</a></li>
					        <li><a data-toggle="tab" ng-click="activeTab='Audit';loadAudit()" href="#auditTab" onclick="return false;">Audit</a></li>
					        
					    </ul>
					    <div class="tab-content">
					    	<!-- General Tab -->
					        <div id="generalTab" class="tab-pane fade in active">
					        	<h3>General</h3>
					            <form role="form" id="person">
												
									<!-- General Info -->
									<div id="general-section" style="overflow: auto; width: 70%; margin: 10px">
									
										<div style="margin: 5px; overflow: auto;">
											<div class="form-control" align="right"
												style="float: left; width: 10%; border: 0; box-shadow: none;">Section*:</div>
											<div style="float: right; width: 90%;">
												<select class="form-control" id="gender" name="gender" ng-model="person.gender">
													<option>Contract</option>
													<option value="M">Task</option>
													<option value="F">Person</option>
													<option value="F">Supplier</option>
													<option value="F">Person</option>
												</select>
											</div>
										</div>
					
										<div style="margin: 5px; overflow: auto;">
											<div class="form-control" align="right"
												style="float: left; width: 10%; border: 0; box-shadow: none;">Type*:</div>
											<div style="float: right; width: 90%;">
												<select class="form-control" id="gender" name="gender" ng-model="person.gender">
													<option>Service Level Agreement</option>
													<option value="M">Task</option>
													<option value="F">Person</option>
													<option value="F">Supplier</option>
													<option value="F">Person</option>
												</select>
											</div>
										</div>
					
										<div style="margin: 5px; overflow: auto;">
											<div class="form-control" align="right"
												style="float: left; width: 10%; border: 0; box-shadow: none;">Category:</div>
											<div style="float: right; width: 90%;">
												<input class="form-control" id="middleName" name="middleName" placeholder="Optional" ng-model="person.middleName"/>
											</div>
										</div>
					
										<div style="margin: 5px; overflow: auto;">
											<div class="form-control" align="right"
												style="float: left; width: 10%; border: 0; box-shadow: none;">Contract*:</div>
											<div style="float: right; width: 90%;">
												<input class="form-control" id="middleName" name="middleName" ng-model="person.middleName"/>
											</div>
										</div>
					

									
										<div style="margin: 5px; overflow: auto;">
											<div class="form-control" align="right"
												style="float: left; width: 10%; border: 0; box-shadow: none;">Name</div>
											<div style="float: right; width: 90%;">
												<input class="form-control" id="firstName" name="firstName" placeholder="Optional" ng-model="person.firstName"/>
											</div>
										</div>
					
										<div style="margin: 5px; overflow: auto;">
											<div class="form-control" align="right"
												style="float: left; width: 10%; border: 0; box-shadow: none;">File*:</div>
											<div style="float: right; width: 90%;">
												<input class="form-control" id="firstName" name="firstName" ng-model="person.firstName"/>
											</div>
										</div>
					
										<div style="margin: 5px; overflow: auto;">
											<div class="form-control" align="right"
												style="float: left; width: 10%; border: 0; box-shadow: none;">Description:</div>
											<div style="float: right; width: 90%;">
												<textarea class="form-control" name="Text1" cols="40" rows="5" placeholder="Optional"></textarea>
											</div>
										</div>
					
										
										
									</div>
								</form>
								
					        </div>
					        
					        <!-- Notes Tab -->
					        <div id="noteTab" class="tab-pane fade">
					        	<div style="width: 100%; float: left;">
						            <h3>Document Notes</h3>
									<table class="table table-hover data-table data-table-header">
										<thead>
											<tr><td>Date</td><td>User</td><td>Note</td><td>Type</td></tr>
										</thead>
										<tbody>
											<tr><td>12/04/2015&nbsp;10:15:59</td><td>Michael&nbsp;Sekamanya</td><td>Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content</td><td>Urgent</td></tr>
											<tr><td>12/04/2015&nbsp;10:15:59</td><td>Michael&nbsp;Sekamanya</td><td>Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content</td><td>Important</td></tr>
											<tr><td>12/04/2015 10:15:59</td><td>Michael Sekamanya</td><td>Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content</td><td>Actioned</td></tr>
											<tr><td>12/04/2015 10:15:59</td><td>Michael Sekamanya</td><td>Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content</td><td>Info Only</td></tr>
											<tr><td>12/04/2015 10:15:59</td><td>Michael Sekamanya</td><td>Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content</td><td>Complaint</td></tr>
											<tr><td>12/04/2015 10:15:59</td><td>Michael Sekamanya</td><td>Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content</td><td>Info Only</td></tr>
											<tr><td>12/04/2015 10:15:59</td><td>Michael Sekamanya</td><td>Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content Note content</td><td>Info Only</td></tr>
										</tbody>
									</table>
								</div>
					        </div>
					                
					        <!-- Notes Tab -->
					        <div id="auditTab" class="tab-pane fade">
								<div style="width: 100%; float: left;">
									<h3>Document Audit</h3>
									<table class="table table-hover data-table data-table-header">
										<thead>
											<tr><td>Date</td><td>User</td><td>Action</td><td>Comment</td></tr>
										</thead>
										<tbody>
											<tr><td>10/12/2014 10:28</td><td>Almera Shawn</td><td>Edit</td><td>Changed value of field Name from <b>Contractual document</b> to <b>Contract Change Notice document</b></td></tr>
											<tr><td>10/12/2014 10:25</td><td>Almera Shawn</td><td>Edit</td><td>Replaced existing file</td></tr>
											<tr><td>10/12/2014 10:24</td><td>Almera Shawn</td><td>Edit</td><td>Changed field Type from <b>SLA Documents</b> to <b>Service Level Agreement</b></td></tr>
											<tr><td>15/11/2014 15:56</td><td>Michael Fiddle</td><td>Create</td><td>Uploaded file</td></tr>
											<tr><td>15/11/2014 15:56</td><td>Michael Fiddle</td><td>Create</td><td>Initial creation of document record</td></tr>
										</tbody>
									</table>
								</div>
					        </div>
					                
					    </div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div ng-include = "'viewsie8/main-app-footer.html'"></div>