<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>


<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />


<style>


.btnStyle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #208fd4 2px;
  text-decoration: none;
}

.btnStyle:hover {
  background: #3cb0fd;
  text-decoration: none;
}

</style>


	<div id="body" ng-controller="documentListController">
		<!-- Common main application header -->
		<div ng-include = "'viewsie8/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Common main application header -->
			<div ng-include = "'viewsie8/main-left-menu.html'" onload="menulink = 'documents'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
				<!-- toolbar -->
				<div id="toolbar" style="padding: 10px;">
					<button ng-click="go('/dashboard')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
						Back
					</button>
		
					<button type="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						Delete <span class="caret"></span>
					</button>
		
					<button ng-click="downloadDocument()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
						Download
					</button>
					
					<button ng-click="loadDocuments()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						Refresh
					</button>
				</div>
				<!-- Panels -->
				<div style="clear: both; margin: 5px;">
				<div style="width: 100%">
						<div>
							<div style="text-align: left"><h3>Document Manager</h3></div>
							<div style="float: right"><input class="form-control" ng-model="searchDocumentList" placeholder="Filter field data"/></div>
					        <div style="display: table-cell; padding: 5px ; float:right">
						                         <button class="btnStyle" ng-disabled="currentDocumentPage <= 0" ng-click="currentDocumentPage=currentDocumentPage-1">
						                           Prev
						                         </button>
						                        <span ng-if="documents!=0">{{currentDocumentPage+1}}/{{numberOfPages()}}</span>
						                     <button  class="btnStyle" ng-disabled="documents.length == 0 || currentDocumentPage >= documents.length/documentpageSize - 1" ng-click="currentDocumentPage=currentDocumentPage+1">
						                             Next
						                       </button>
						</div>
					</div>
					<div style="">
						<table class="table table-hover panel-data data-table data-table-header" style="width: 100%;">
							<thead>
								<tr>
									<td width="1%" align="center"><input id="selectAll" type="checkbox"/></td>
									<td width="1%" align="center"><span class="glyphicon glyphicon-file" aria-hidden="true"></td>
									<td width= "20%">File&nbsp;Name</td>
									<td>Title</td>
									<td>Contract</td>
									<td width= "20%">Description</td>
									<td width= "10%">Modified</td>
									<td width= "5%" align="right">Size</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-hide="documentsLoaded">
									<td style="width: 1%"><img src="../images/loading-spinner.gif"/>Loading&nbsp;documents...</td>
									<td>&nbsp;</td>
									<td></td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr ng-show="documentsLoaded" ng-class="{'data-table-row-select' : document.id === item.id}" ng-repeat="item in documents | filter:searchDocumentList | orderBy:['file.name', 'title'] | startFrom:currentDocumentPage*documentpageSize | limitTo:documentpageSize" ng-click="setSelectedDocument(item)">
									<td width="1%" align="center"><input id="{{item.id}}" ng-checked="document.id === item.id" type="checkbox"/></td>
									<td><img ng-src="{{fileicon[item.file.ext] || fileicon['default']}}"/></td>
									<td>{{ item.file.name }}</td>
									<td>{{ item.title }}</td>
									<td>{{ item.external.value }}</td>
									<td>{{ item.type.value }}</td>
									<td>{{ item.created | date:"dd/MM/yyyy HH:mm:ss" }}</td>
									<td align="right">{{ item.size | bytes }}</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div ng-include = "'viewsie8/main-app-footer.html'"></div>