<meta charset="ISO-8859-1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="../styles/jquery-ui.min.css">

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/signin.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<title>Contractic - Professional Contract Management</title>

<style>
	.error-text{
		font-size: 30px;
		color: #ff0000
	}
	
	.error-text-title{
		font-size: 34px;
		color: #ff0000
	}
</style>

<div>

	<div class="header">
		<div class="vcenter" style="float: left">&nbsp;</div>
	</div>
	<div id="content">
		<div id="header">
			<div align="left"
				style="text-align: center;">
				<div>
					<div>
						<img src="../images/contracticlogo2.png" />
					</div>
				</div>
			</div>
		</div>
		<div align="center" style="clear: both; padding: 10px; overflow: auto">
			<div>
				<div class="error-text-title">Error 500</div>
				<div><img src="../images/error500.png" /></div>
				<div class="error-text">Internal system error. Please try again later</div>
				<div><button 
							ng-click="go('/')"
							class="btn btn-lg"
							type="submit">Back home</button></div>
			</div>
		</div>
	</div>
	<div align="center" id="footer" class="footer">
		&copy;<span id="footer-copy-year">2016</span> Cloud21 | Help | <a href="viewsie8/terms-of-service.html" target="_blank">Terms Of Service</a> | <a href="viewsie8/privacy-statement.html" target="_blank">Privacy Statement</a>
	</div>
</div>