<!DOCTYPE html>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- jQuery library -->
<link rel="stylesheet" type="text/css"
	href="../styles/jquery-ui.min.css">
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<script src='../js/util.js'></script>

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/contract.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<style>
.menu-sizing>div>div {
	padding: 10px
}

.menu-sizing>div>div:hover {
	color: #0080c0;
	background-color: #eeeeee;
	cursor: hand;
	cursor: pointer;
}

.menu-item {
	display: table-row;
	vertical-align: middle;
	width: 100%;
}

.menu-item>div {
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
}
</style>

<div ng-controller="applicationController" id="left-menu" style="float: left; width: 250px;">
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="table menu-sizing">
			<div>
				<div ng-click="go('/dashboard')" style="font-size: 24px;">
					Dashboard
				</div>
			</div>
			<div>
				<div ng-click="go('/contracts')" ng-class="{ 'active': menulink == 'contracts' }">
					<div class="menu-item">
						<div>
							<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
						</div>
						<div>Contracts</div>
					</div>
				</div>
			</div>
			<div>
				<div ng-click="go('/tasks')" ng-class="{ 'active': menulink == 'tasks' }">
					<div class="menu-item">
						<div>
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
						</div>
						<div>Task Manager</div>
					</div>
				</div>
			</div>
			<div>
				<div ng-click="go('/documents')" ng-class="{ 'active': menulink == 'documents' }">
<!-- 					<a href="#documents"><span class="glyphicon glyphicon-file"
						aria-hidden="true"></span>Documents</a> -->
						
					<div class="menu-item">
						<div>
							<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
						</div>
						<div>Documents</div>
					</div>
						
				</div>
			</div>
			<div>
				<div ng-click="go('/reports')" ng-class="{ 'active': menulink == 'reports' }">
<!-- 					<a href="#reports"><span class="glyphicon glyphicon-signal"
						aria-hidden="true"></span>Reports</a> -->
					<div class="menu-item">
						<div>
							<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
						</div>
						<div>Reports</div>
					</div>
				</div>
			</div>
			<div>
				<div ng-click="go('/admin')" ng-class="{ 'active': menulink == 'admin' }">
<!-- 					<a href="#admin"><span class="glyphicon glyphicon-cog"
						aria-hidden="true"></span>Administration</a> -->
						
					<div class="menu-item">
						<div>
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</div>
						<div>Administration</div>
					</div>
						
				</div>
			</div>
			<div>
				<div ng-click="go('profile')" ng-class="{ 'active': menulink == 'profile' }">
<!-- 					<a href="#profile"><span class="glyphicon glyphicon-user"
						aria-hidden="true"></span>My Account</a> -->
						
					<div class="menu-item">
						<div>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</div>
						<div>My Account</div>
					</div>
						
				</div>
			</div>
			<div>
				<div ng-class="{ 'active': menulink == 'help' }">
<!-- 					<a href="#help" target="_blank"><span
						class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>Help</a> -->
						
					<div class="menu-item">
						<div>
							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						</div>
						<div><a href="#help" target="_blank">Help</a></div>
					</div>
						
				</div>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</div>