<meta charset="ISO-8859-1">

<!-- jQuery library -->
<link rel="stylesheet" type="text/css"
	href="../styles/jquery-ui.min.css">
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui-1.11.13.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />


<style>
.profile .glyphicon {
	font-size: 32px;
	color: #0080c0;
}

.profile .glyphicon:hover {
	cursor: pointer;
	cursor: hand;
	color: #005782;
}

.profile-organisation {
	color: #006dcc;
}

.profile-username {
	color: #006dcc;
	font-style: italic;
	font-size: 0.875em;
}
</style>

<!-- Header -->
<div ng-controller="sessionController" style="overflow: hidden; border-bottom: 1px solid #cccccc; background: #efefef">
	<div class="table">
		<div style="height: 100px;">
			<div style="width: 100px">
				<div id="logo"
					style="vertical-align: middle; float: left; display: flex; align-items: center;">
					<img src="../images/contracticlogo2.png" />
				</div>
			</div>
			<div class="col-lg-6" style="vertical-align: middle;">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="query"
						placeholder="Search for..." /> <span class="input-group-btn">
						<button ng-click="executeSearch()" class="btn btn-default"
							type="button" style="background: #cccccc; color: #ffffff">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
				<!-- /input-group -->
			</div>
			<!-- /.col-lg-6 -->
			<div style="vertical-align: middle; float: right; padding: 10px;">
				<div style="display: table-row" style="vertical-align: middle;"">
					<div style="display: table-cell">
						<span class="profile-organisation">{{organisation.name}}</span><br />
						<span class="profile-username">{{session.username}}</span>
					</div>
					<div style="display: table-cell; margin-left: 5px"
						class="profile btn-group dropdown">
						<span ng-click="go('/profile')" style="padding: 5px;"
							class="glyphicon glyphicon-user" aria-hidden="true"
							title="Account"></span> <span ng-click="deleteSession()"
							style="padding: 5px;" class="glyphicon glyphicon-log-out"
							aria-hidden="true" title="Log out"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>