<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>


<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet"
	type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />


<div id="body" ng-controller="reportController">
	<!-- Common main application header -->
	<div ng-include="'viewsie8/main-app-header.html'"></div>
	<!-- Content -->
	<div id="content" style="clear: both; overflow: auto;">
		<!-- Common main application header -->
		<div ng-include="'viewsie8/main-left-menu.html'"
			onload="menulink = 'reports'"></div>

		<!-- Dashboard -->
		<div id="dashboard"
			style="margin: 2px; overflow: hidden; width: auto;">
			<!-- toolbar -->
			<div id="toolbar" style="padding: 10px;">
				<button ng-click="go('/dashboard')" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-circle-arrow-left"
						aria-hidden="true"></span> Back
				</button>

				<div class="btn-group" style="margin-right: 10px;">	
					<button ng-click="editReport()" type="button" class="btn btn-default" id="btnSave">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						Edit
					</button>
					<button ng-click="runReport()" type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
						Run
					</button>
				</div>

				<button ng-click="downloadReport()" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
					Download
				</button>

				<button ng-click="loadReports()" type="button"
					class="btn btn-default" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					Refresh
				</button>
			</div>

			<div ng-show="showDialog"
				style="margin-top: 10px; border: 1px solid #efefef; clear: both">
				<div>
					<!-- General Info -->
					<div id="general-section" style="overflow: auto;">
						<div style="background: #efefef" class="modal-header">
							<button type="button" class="close" ng-click="closeDialog()">&times;</button>
							<h4 class="modal-title">Edit Report</h4>
						</div>
						<div role="header">
							<!-- Alerts -->
							<div ng-show="alert.body" class="response-alert">
								<button ng-click="alert=null" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
								<span role="type"><strong>{{alert.type}}!</strong></span>
								<span role="body">{{alert.body}}</span>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Name*:</div>
								<div style="float: right; width: 90%;">
									<input class="form-control" id="firstName"
										ng-model="report.name">
								</div>
							</div>

							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Description:</div>
								<div style="float: right; width: 90%;">
									<textarea class="form-control" cols="40" rows="3"
										placeholder="Optional" ng-model="report.description"></textarea>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Type*:</div>
								<div style="float: right; width: 90%;">
									<select class="form-control" id="enabled" name="enabled"
										ng-model="note.type.id">
										<option>Please select</option>
										<option ng:repeat="type in noteTypes"
											ng-selected="type.id == note.type.id" value="{{type.id}}">{{type.name}}</option>
									</select>
								</div>
							</div>
							<div style="margin: 5px; overflow: auto;">
								<div class="form-control" align="right"
									style="float: left; width: 10%; border: 0; box-shadow: none;">Schedule:</div>
								<div style="float: right; width: 90%;">
									<div class="table">
										<div>
											<div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="background: #efefef; margin: 0px;" class="modal-footer">
						<button ng-click="saveReport()" type="button"
							class="btn btn-primary">Save</button>
						<button ng-click="closeDialog()" type="button"
							class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>


			<!-- Panels -->
			<div ng-hide="showDialog" style="clear: both; margin: 5px;">
				<h3>Report Manager</h3>
				<div style="">
					<table
						class="table table-hover panel-data data-table data-table-header"
						style="width: 100%;">
						<thead>
							<tr>
								<td width="1%" align="center"><input id="selectAll"
									type="checkbox" /></td>
								<td width="30%">Report&nbsp;Name</td>
								<td>Description</td>
								<td width="20%">Owner</td>
								<td width="10%">Last Run</td>
								<td>&nbsp;</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-hide="reportsLoaded">
								<td style="width: 1%"><img
									src="../images/loading-spinner.gif" />Loading</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr ng-show="reportsLoaded"
								ng-class="{'data-table-row-select' : report.id === item.id}"
								ng-repeat="item in reports" ng-click="setSelectedReport(item)">
								<td width="1%" align="center"><input id="{{item.id}}"
									ng-checked="report.id === item.id" type="checkbox" /></td>
								<td>{{ item.name }}</td>
								<td>{{ item.description }}</td>
								<td>{{ item.owner.value }}</td>
								<td>{{ item.lastrun | date:"dd/MM/yyyy HH:mm:ss" }}</td>
								<td align="center"><span ng-show="item.scheduled"
									class="glyphicon glyphicon-time" data-toggle="tooltip"
									data-placement="bottom" title="Scheduled" aria-hidden="true"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'viewsie8/main-app-footer.html'"></div>