<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link rel="icon" href="../images/favicon.ico">
<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet"
	type="text/css" />


<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<style>
.table>div>div {
	padding: 0px 5px 0px 5px;
}

.panel-table>div {
	padding: 0px 5px 5px 0px;
}

.panel-border {
	border: 1px solid #cccccc;
	margin: 0px 5px 20px 0px;
}

div.admin-page-title .glyphicon {
	color: #ff0000;
}
.modal-header, .modal-footer {
	background: #eeeeee;
}

.content {
	padding: 10px;
}

.results
{
    width: 100%;
    background: #eee;
	clear: both;
	padding: 5px;
	margin-bottom: 10px;
}

.result-title{
	font-size: 20px;
	color: #0000ff;
	text-decoration: underline;
	cursor: pointer;
}

.searchHeader{
	float:left;
	width: 100%;
}

#searchTerm1{

 display:inline;


}

#searchTerm2{

 display:inline-block;
 margin-left: 5px;


}

#no-results{

font-size:28px;

}
</style>

<div id="body">
	<!-- Common main application header -->
	<div ng-include="'viewsie8/main-app-header.html'"></div>
	<!-- Content -->
	<div style="clear: both; overflow: auto;">
		<!-- Left menu -->
		<div ng-include="'viewsie8/main-left-menu.html'"></div>
		<!-- Dashboard -->
		<div ng-controller="searchController" id="dashboard"
			style="margin: 2px; overflow: hidden; width: auto;">
			<div class="content">
				<div class="table" style="clear: both; width: 100%">
					<div ng-show="query">
						<div class="searchHeader">
							<h4>Search&nbsp;Results&nbsp;for: {{query}}</h4> 
						</div>
						<div style="text-align: right;">
							1/10
						</div>
						<div style="text-align: right; width: 100px">
							<div class="btn-group" style="margin-right: 10px; font-size: 10px;">
								<button ng-click="newUser()" type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								</button>
								<button ng-click="editUser()" type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Panels -->
				<div ng-hide="resultsLoaded" style="padding: 0px 0px 10px 10px;  clear: both;">
					<img src="../images/loading-spinner.gif"/>&nbsp;Searching...
				</div>
				<div style="clear: both;" ng-show="results.length == 0">No results found</div>
				<div style="clear: both;" class ="results" ng-show="resultsLoaded" ng-repeat="item in results">
				    
					<div class="result-title" ng-click="openTarget(item)">
						<div ng-show="item.module.name == 'Person'"><b>{{item.module.name}}:&nbsp;</b>{{item.external.firstName}} {{item.external.lastName}}</div>
						<div ng-show="item.module.name == 'Supplier'"><b>{{item.module.name}}:&nbsp;</b>{{item.external.name}}</div>
						<div ng-show="item.module.name == 'Contract'"><b>{{item.module.name}}:&nbsp;</b>{{item.external.reference}}, {{item.external.title}}</div>
					</div>
					<div>{{item.text}}</div>
					<div ng-show="item.contractDetail">
						<div ng-if="item.contractDetail.group.value === 'CCN'"><b>CCN:</b>{{item.text}}</div>
						<div ng-if="item.contractDetail.group.value === 'SUMMARY'"><b>Summary:</b>{{item.text}}</div>
						<div ng-if="item.contractDetail.group.value != 'CCN' && item.contractDetail.group.value != 'SUMMARY'"><b>Contract Detail:</b>{{item.text}}</div>
					</div>
					<div ng-show="item.note!=null"><b>Notes:</b>{{item.text}}, <b>Date: </b> {{item.note.date}}</div>
					<div ng-show="item.document!=null"><b>Document:</b>{{item.text}}, <b>Date:</b> {{item.document.date}} </div>
					<div ng-show="item.task!=null"><b>Calendar:</b>{{item.text}}, <b>Date:</b> {{item.task.date}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'viewsie8/main-app-footer.html'"></div>