
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../styles/bootstrap.min-3.3.5.css">

<!-- jQuery library -->
<script src="../lib/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="../lib/bootstrap-3.3.5.min.js"></script>

<link rel="icon" href="../images/favicon.ico">

<link href="../styles/dashboard.css" rel="stylesheet" type="text/css" />
<link href="../styles/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />
<link href="../styles/main.css" rel="stylesheet" type="text/css" />

<title>Contractic - Professional Contract Management</title>

<style>
	.subtask {
		background: #fcfcfc;
		font-size: -20%;
	}
	
	.parenttask{
		font-weight: bold;
		
	}
	
	td.parentidcell {
		display: none;
	}
	
	.data-table-row-select {
		background-color: #ebebeb;
	}
	
	.btnStyle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #208fd4 2px;
  text-decoration: none;
}

.btnStyle:hover {
  background: #3cb0fd;
  text-decoration: none;
}
</style>
<script>
$(document).ready(function(){

	/*Initialize bootstrap tooltipss*/
	$('[data-toggle="tooltip"]').tooltip();
	
	var selectedRow = null;
	$('.data-table tbody tr').on('click', function() {
		if(selectedRow)
			$(selectedRow).toggleClass('data-table-row-select');
	    $(this).toggleClass('data-table-row-select');
	    selectedRow = this;
	});
});
</script>

	<div id="body" ng-controller="taskListController">
		<!-- Common main application header -->
		<div ng-include = "'viewsie8/main-app-header.html'"></div>
		<!-- Content -->
		<div id="content"
			style="clear: both; overflow: auto;">
			<!-- Left menu -->
			<div ng-include = "'viewsie8/main-left-menu.html'" onload="menulink = 'tasks'"></div>
			
			<!-- Dashboard -->
			<div id="dashboard" style="margin: 2px; overflow:hidden; width:auto;">
			
				<!-- toolbar -->
				<div id="toolbar" style="padding: 10px;">
					<button ng-click="go('/dashboard')" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						Home
					</button>
		
					<div class="btn-group" style="margin-right: 10px;">
						<button ng-click="editTask()" type="button" class="btn btn-default" id="btnSave">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							Edit
						</button>
		
					</div>
		
					<button type="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						Delete <span class="caret"></span>
					</button>
					<button ng-click="loadTasks()" type="button" class="btn btn-default"
						style="margin-right: 10px;">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						Refresh
					</button>
				</div>

				<!-- Panels -->
				<div style="clear: both; margin: 5px">
					<div style="float: left">
						<h3>Task Manager</h3>
					</div>
					<div style="float: right;">
						<input class="form-control" id="middleName" name="middleName" ng-model= searchTasks placeholder="Filter field data"/>
					</div>
					<div style="display: table-cell; padding: 5px ; float:right">
						                         <button class="btnStyle" ng-disabled="currentTaskPage <= 0" ng-click="currentTaskPage=currentTaskPage-1">
						                           Prev
						                         </button>
						                        <span ng-if="tasks!=0"> {{currentTaskPage+1}}/{{numberOfPages()}}</span>
						                     <button  class="btnStyle" ng-disabled="tasks.length == 0 || currentTaskPage >= tasks.length/pageTasksSize - 1" ng-click="currentTaskPage=currentTaskPage+1">
						                             Next
						                       </button>
						</div>
					<div>
						<table class="table table-hover panel-data data-table data-table-header" style="width: 100%;">
							<thead>
							<tr>
								<!-- The parent id if this task has one -->
								<td class="parentidcell"></td>
								<!-- The button to toggle display of child tasks -->
								<td style="width: 1%" align="center"><input id="selectAll" type="checkbox"/></td>
								<td style="width: 1%"></td>
								<td style="width: 1%">#</td>
								<td>Task</td>
								<td>Contract</td>
								<td>Assignee</td>
								<td>Start&nbsp;Date</td>
								<td>Due&nbsp;Date</td>
								<td>Status</td>
								<td style="width: 1%">Parent</td>
								<td style="width: 1%"></td>
								<td style="width: 1%"></td>
							</tr>
						</thead>
							<tbody>
								<tr ng-hide="tasksLoaded">
									<!-- The parent id if this task has one -->
									<td><img src="../images/loading-spinner.gif"/>Loading&nbsp;tasks...</td>
									<!-- The button to toggle display of child tasks -->
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr ng-class="{ 'parenttask': item.children == true, 'subtask': item.children == false, 'data-table-row-select' : task.id === item.id }" 
									id="{{item.id}}" 
									ng-hide="!tasksLoaded || (item.parentNumber!=null && loadedSubTaskParent[item.parentNumber]!=null && loadedSubTaskParent[item.parentNumber].expanded===false)" 
									ng-repeat="item in tasks | filter:searchTasks | startFrom:currentTaskPage*pageTasksSize | limitTo:pageTasksSize" ng-click="setSelectedTask(item)">
									
									<td class="parentidcell">{{ item.parentNumber }}</td>
									<td width="1%" align="center"><input id="{{item.id}}" ng-checked="task.id === item.id" type="checkbox"/></td>
									<td><span ng-show="item.children == true" 
										ng-class="{'glyphicon glyphicon-plus-sign' : loadedSubTaskParent[item.number].expanded==null || loadedSubTaskParent[item.number].expanded===false, 
													'glyphicon glyphicon-minus-sign' : loadedSubTaskParent[item.number].expanded===true}" 
										aria-hidden="true" 
										ng-click="showSubTasks($index)"></span></td>
									<td>{{ item.number | indentTask: item.parentNumber:this }}</td>
									<td>{{ item.title }}</td>
									<td>{{ item.external.title }}</td>
									<td>{{ item.person.value }}</td>
									<td>{{ item.startDate | date:"dd/MM/yyyy" }}</td>
									<td>{{ item.endDate | date:"dd/MM/yyyy" }}</td>
									<td>{{ item.status.value }}</td>
									<td>{{ item.parentNumber }}</td>
									<td></td>
									<td><span ng-show="item.repeat != null" class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="bottom" title="Has timed alerts"
										aria-hidden="true"></span></td>
								</tr>
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include = "'viewsie8/main-app-footer.html'"></div>