<tr onclick="toggleRowSelection(this);" ng-click="setSelectedTask(item)">
	<td class="parentidcell"></td>
	<td><span ng-show="item.children == 'true'" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></td>
	<td>{{ item.number }}</td>
	<td>{{ item.name }}</td>
	<td>{{ item.external.value }}</td>
	<td>{{ item.person.value }}</td>
	<td>{{ item.startDate }}</td>
	<td>{{ item.endDate }}</td>
	<td>{{ item.status.value }}</td>
	<td></td>
	<td></td>
	<td><span class="glyphicon glyphicon-file" data-toggle="tooltip" data-placement="bottom" title="Documents"
		aria-hidden="true"></span></td>
</tr>