<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="contractic.service">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp"/>
        <dependent-module archiveName="contractic.service-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/contractic.service/contractic.service">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="contractic.model-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/contractic.model/contractic.model">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/contractic.service/target/classes"/>
        <property name="context-root" value="contractic"/>
        <property name="component.exclusion.patterns" value="views/**,viewsie8/**"/>
    </wb-module>
</project-modules>
